/* HP */
.eb-notice-message {
	color: #cc4d3d;
    font-size: 100%;
    margin-bottom: -5px;
}
.eb-event-columns {
	border-top: 1px solid #d1d6de;
    margin-top: 20px;
    padding-top: 20px;
	.up-event-item {
		display: flex;
		.image {
			@include rtl-margin-right(15px);
			position: relative;
			.eb-event-location-price {
				position: absolute;
				top: 4px;
				left: 0;
				.eb-individual-price {
					background-color: #ffc30f;
					padding: 6px 20px;
					font-weight: bold;
				}
			}
		}
		.eb-event-short-description p {
			margin-bottom: 0;
		}
		.eb-event-title-container {
			margin: -6px 0 0;
			font-size: 18px;
			a {
				color: #1f1f1f;
			}
		}
		.up-event-meta {
			display: flex;
			align-items: center;
			margin: 9px 0 4px;
			> div {
			@include rtl-margin-right(12px);
				i.fa {
					@include rtl-margin-right(8px);
				}
			}
			a {
				color: #1f1f1f;
			}
			.eb-event-category {	
				strong {
					font-weight: normal;
				}
			}
		}
		.readmore {
			font-weight: bold;
			margin-top: 25px;
			display: inline-block;
		}
	}
	&:not(.clearfix) {
		border-top: none;
		margin-top: 0;
		padding-top: 0;
	}
}
.sunfw-com-eventbooking {
	.btn {
		text-shadow: none;
		&.eb-colorbox-addlocation {
			margin-top: -3px;
			@include rtl-margin-left(7px);
		}
	}
	#pop-print {
		&.btn {
			background: transparent;
			padding: 0 5px;
			box-shadow: none;
		}
	}
	.listmenu ul.menu {
		@include rtl-padding-left(0);
		li {
			list-style: none;
			border-top: 1px solid #d1d6de;
			padding: 15px 0;
			&:first-child {
				padding-top: 4px;
				border: none;
			}
			&:last-child {
				padding-bottom: 0;
			}
			a {
				color: #1f1f1f;
				font-size: 14px;
				font-weight: bold;
				font-family: Lora;
			}
		}
	}
}
.js-calendar {
	.calendar-container {
		.table {
			max-width: 300px;
			th, td {
				padding: 8px;
			}
		}
	}
}
#eb-category-page-table,
[class*="eb-event"] {
	.eb-taskbar {
		padding: 15px 0 25px;
		border-bottom: 1px solid #d1d6de;
		margin: 0 0 20px;
		list-style: none;
		.btn {
			text-shadow: none;
		}
		li{
			padding: 0 10px 0 0 !important;
			margin-top: 9px !important;
			&:last-child .btn {
				padding-top: 8px;
				padding-bottom: 8px;
			}
			&:not(:last-child) .btn {
				&.btn-default,
				&.dropdown-toggle {
					border: solid 1px #d1d6de;
					border-radius: 0;
					background: transparent;
					box-shadow: none;
					color: #1f1f1f;
					padding: 7px 30px;
					.caret {
						margin-top: 0;
					}
					+ .dropdown-menu {
						border: 1px solid #d1d6de;
						border-radius: 0;
						margin-top: 1px !important;
						li {
							padding: 0 !important;
							i.icon-download {
								display: inline-block;
								font: normal normal normal 14px/1 FontAwesome;
								font-size: inherit;
								text-rendering: auto;
								&:after {
									content: "\f00d";
									font-size: 16px;
								}
							}
						}
					}
				}
			}
		}
	}
}
#eb-category-page-timeline {
	margin-top: 31px;
}
.eb-category-description {
	margin-bottom: 25px;
}
#eb-upcoming-events-page-table,
#eb-categories-page,
#eb-category-page-table {
	&.eb-container {
		div.eb-taskbar {
			padding: 0;
			border-bottom: none;
			margin: 0;
			ul {
				flex-direction: column;
				justify-content: center;
				li {
					margin-top: 0 !important;
					padding: 0 !important;
					+ li {
						margin-top: 8px !important;
					}
					.btn {
						&.btn-default,
						&.dropdown-toggle {
							border: solid 1px #d1d6de;
							border-radius: 0;
							background: transparent;
							box-shadow: none;
							color: #1f1f1f;
							padding: 7px 16px;
							min-width: 160px;
							display: block;
							.caret {
								margin-top: 0;
							}
						}
					}
				}
			}
		}
	}
}
.eb-events-timeline {
	.eb-event-container {
		background-image: url(../images/backgrounds/dot-ver.png);
		&:last-child {
			.eb-taskbar {
				border-bottom: none;
				margin-bottom: 0;
				padding-bottom: 0;
			}
		}
	}
}
.eb-event-box,
.eb-event-container {
    background-position: 35px 79px;
	.eb-event-date-container {
		padding: 0;
		margin: 0 0 0 -100px;
		border: none;
	}
	.eb-event-date {
		height: 70px;
		padding: 5px;
		width: 70px;
		background: #FFC30F;
		&.btn-primary {
			background-color: #ffc30f;
			border-radius: 100%;
		}
	}
	.eb-event-date-day {
		font-family: Lato;
		font-size: 16px;
		line-height: 16px;
		padding-top: 5px;
		color: #000;
	}
	.eb-event-date-month {
		color: #000;
		font-size: 12px;
		line-height: 12px;
		text-shadow: none;
		margin: 3px 0 4px;
	}
	.eb-event-date-year {
		color: #000;
		font-size: 12px;
		line-height: 12px;
		text-shadow: none;
	}
	.eb-event-title {
		font-size: 18px;
		font-weight: bold;
		line-height: 1.17;
		color: #1f1f1f;
	}
	.eb-event-information {
		padding: 0 0 10px;
		margin-bottom: 10px;
		.eb-event-price-container {
			margin-top: -25px;
			.eb-individual-price {
				color: #1f1f1f;
				background-color: #ffc30f;
				padding: 6px 20px;
				font-size: 18px;
				text-shadow: none;
			}
		}
		.eb-event-date-info {
			font-size: 14px;
			line-height: 1.5;
			margin-bottom: 6px;
		}
		i.fa {
			@include rtl-margin-right(5px);
		}
	}
	.eb-description-details {
		margin-top: -6px;
		a {
			img {
				margin-top: 6px !important;
			}
		}
	}
}
/* ==========  Mini Calendar ========== */
div.extcal_minical {
	margin: -20px;
	.extcal_navbar {
		border-bottom: 1px solid #d1d6de;
		.mod_eb_minicalendar_link {
			a {
				display: inline-block;
				font: normal normal normal 14px/1 FontAwesome;
				font-size: inherit;
				text-rendering: auto;
				font-size: 0;
				&:before {
					font-size: 18px;
					color: #1f1f1f;
				}
				&#next_year:before {
					content: "\f101";
				}
				&#prev_year:before {
					content: "\f100";
				}
				&#next_month:before {
					content: "\f0da";
					font-size: 15px;
				}
				&#prev_month:before {
					content: "\f0d9";
					font-size: 15px;
				}
			}
		}
		&:first-child td {
			//padding: 7px 10px;
			vertical-align: text-bottom;
			&:first-child {
				padding: 7px 0 7px 20px;
			}
			&:last-child {
				padding: 7px 20px 7px 0;
			}
		}
		td {
			padding: 7px 5px;
		}
		.extcal_month_label a {
			color: #1f1f1f;
			font-weight: normal;
			font-size: 16px;
			font-family: Lora;
		}
	}
	table.mod_eb_mincalendar_table {
		margin-bottom: 5px;
	}
	table.extcal_minical {
		background-color: transparent;
		padding: 0;
		.mod_eb_mincalendar_td_dayname,
		td.mod_eb_mincalendar_not_today, td.mod_eb_mincalendar_no_event a {
			color: #1f1f1f;
			font-family: Lato;
			font-size: 12px;
			font-weight: bold;
			padding: 8px 0;
			margin: 0 8px;
			span {
				font-weight: bold;
			}
		}
		td.mod_eb_mincalendar_today {
			color: #fff;
		}
		.mod_eb_mincalendar_dayname {
			border-bottom: 1px solid #d1d6de;
			.mod_eb_mincalendar_td_dayname {
				padding: 9px 0;
				font-family: Lora;
			}
		}
		.extcal_navbar {
			
		}
	}
}
/* ========== Upcoming Events ========== */
.eb_event {
	> a:first-child {
		font-family: Lora;
		font-size: 16px;
		font-weight: bold;
		display: block;
		margin-bottom: -16px;
	}
	a {
		color: #1f1f1f;	
	}
}
.eb-event-list,
.eb_event_list {
	td {
		padding: 0 0 20px;
		.event_date {
			margin-bottom: 5px;
			display: inline-block;
		}
	}
	tr:last-child {
		td {
			padding: 0;
		}
	}
	img {
		width: 100%;
		margin: 5px 0 16px;
	}
	.eventsmall {
  		> li {
  			border-color: #d1d5d6;
  			padding: 15px 0;
  			[class*="col-"] {
  				padding: 0;
  			}
  			&:first-child {
  				padding-top: 0;
  			}
  			&:last-child {
  				padding-bottom: 0;
  			}
  			span.event-date {
  				span {
				    font-weight: normal;
				    font-size: 14px;
				    font-family: Lato;
				    padding: 2px;
			    }
			}
			a.eb-event-link {
				font-family: Lora;
  				font-size: 14px;
  				color: #1f1f1f;
  				margin-top: -2px;
  				display: block;
			}
			.location,
			.category {
				font-size: 14px;
				padding: 4px 0;
				a {
					color: #1f1f1f;
				}
				strong {
					font-weight: normal;
				}
			}
  		}
	}
}
/* ========== Category Default Layout ========== */
#eb-upcoming-events-page-default,
#eb-events-archive-page,
#eb-category-page-default {
	.eb-taskbar {
		padding: 20px 0 0;
		border: none;
		margin: 0;
	}
	.eb-event {
		margin-bottom: 30px;
	}
}
#eb-upcoming-events-page-default {
	.eb-description {
		margin-bottom: 25px;
	}
}
#eb-category-page-default {
	.eb-description {
		td {
			white-space: nowrap;
		}
	}
}
#eb-categories,
#eb-events,
#eb-event-page {
	.eb-box-heading {
		background: #f9f9f9;
		border: 1px solid #d1d6de;
		border-radius: 0;
		padding: 11px 20px;
		h2 {
			font-size: 18px;
			a {
				color: #1f1f1f;
			}
		}
		h3 {
			margin: 0 !important;
			font-size: 18px;
			small {
				font-weight: bold;
				line-height: 1;
				color: #1f1f1f;
			}
		}
	}
	.eb-category {
		margin: 0 0 30px;
	}
}
#eb-categories {
	> .row-fluid {
		margin-bottom: 20px;
		h3.eb-category-title {
			margin-bottom: 12px !important;
		}
		&:last-child {
			margin-bottom: 0;
		}
		> table {
			margin-top: 25px;
		}
	}
}
.eb-description {
	#eb-event-page & ,
	#eb-categories & ,
	#eb-events & {
		padding: 16px 19px 20px;
		border-radius: 0;
	}
	iframe {
		&.twitter-share-button {
			margin: 1px 4px;
		}
	}
	#rsep_gplus {
		margin-top: 1px;
	}
}
#eb-event-info,
#eb-events {
	.table {
		border-radius: 0;
		border-width: 1px 0 1px 1px;
		margin: 5px 0 0;
		tr {
			th,
			td {
				padding: 10px 20px;
				border-radius: 0;
				border-width: 1px 1px 0 0;
			}
		}
	}
}
.eb-description-details {
	img {
		margin-top: 6px !important;
	}
}
.eb-event-box {
	.eb-event-date-time {
		margin-top: 5px;
		font-weight: normal;
		font-size: 100%;
	}
	.eb-event-location {
		font-weight: normal;
		i.fa {
			@include rtl-margin-right(5px);
		}
		a {
			font-weight: normal;
			color: #1f1f1f;
		}
	}
	.eb-event-price {
		color: #1f1f1f;
		background: #ffc30f;
		padding: 6px 20px;
		font-size: 18px;
		text-shadow: none;
		font-weight: normal;
		margin: -74px 15px 0;
		&.btn-primary {
			&:hover {
				background: #ffc30f;
			}
		}
	}
	.eb-event-location-price {
		padding-bottom: 6px;
		padding-top: 3px;
	}
	.eb-taskbar li:not(:last-child) .btn.btn-default {
		padding: 7px 6px;
	}
	.eb-taskbar {
		padding: 8px 0 28px;
		border-bottom: none;
		margin: 0;
	}
}
#eb-category-page-columns {
	h2 {
		margin: 8px 0 3px !important;
	}
}
#eb-upcoming-events-page-table,
#eb-categories-page,
#eb-event-archive-page-table,
#eb-category-page-table {
	table {
		border-width: 1px 0 1px 1px;
		border-radius: 0;
		th {
			white-space: nowrap;
		}
		th,td {
			border-radius: 0;
			border-width: 1px 1px 0 0;
		}
		tr td:first-child {
			font-weight: bold;
		}
	}
	.eb-taskbar > ul {
		display: flex;
		li {
			padding: 0 10px 0 0 !important;
		}
	}
}
h1.eb-page-heading {
    margin: 0 0 20px !important;
}
#eb-event-page .eb-box-heading h1.eb-page-heading {
	margin: 0 !important;
    font-size: 18px;
}
#eb-events h3.eb-event-title {
    font-size: 18px;
	a {
		color: #1f1f1f;
	}
}
#eb-current-month {
	#month, #year {
		float: none;
	}
}
#eb-event-details {
	.sharing {
		margin: 5px 0 10px;
		button {
			border-radius: 0 !important;
		}
	}
	.eb-description-details {
		a {
			display: block;
			margin-bottom: 15px;
			clear: both;
			overflow: hidden;
		}
		img {
			width: 100%;
		}
	}
	#eb-event-properties-heading {
		font-size: 16px;
		margin-bottom: 10px !important;
	}
	#eb-event-info {
		margin-bottom: 10px;
	}
	.eb-container & {
		#eb-share-button {
			a:not(.btn) {
				padding: 0 3px;
			}
			img {
				border: 0 none;
				width: 30px;
			}
		}
		#eb-share-text {
			padding-top: 12px;
			font-family: Lora;
			font-size: 16px;
			font-weight: bold;
		}
	}
	#eb-plugins {
		margin-bottom: 30px;
		h3 {
			font-size: 16px;
			margin: 13px 0 10px 0 !important;
		}
		.gm-style > div {
			div:last-child {
				div:last-child {
					> div {
						top: -15px !important;	
					}
				}
			}
		}
	}
}
.left_calendar strong, .left_calendar .input-append {
    margin: 0 10px 0 0;
}
#eb-individual-registration-page,
#eb-group-registration-form {
	.eb-form-heading {
		background: none repeat scroll 0 0 #f9f9f9;
		border: 1px solid #d1d6de;
		color: #1f1f1f;
		font-size: 18px;
		font-weight: bold;
		margin-bottom: 15px;
		padding: 10px 20px;
		font-family: Lora;
	}
	.eb-message {
		margin: 18px 0 25px;
	}
	#number_registrants {
		min-width: 280px;
	}
	.form-actions {
		background: transparent;
		border: none;
		margin: 30px 0 15px 0;
		padding: 0 0 0 202px;
	}
	h3.eb-heading {
		border-bottom: solid 1px #e7eaee;
		display: block;
		padding: 14px 0 9px !important;
		margin-bottom: 25px !important;
		font-size: 18px;
	}
	.form-group {
		margin-bottom: 20px;
		display: flex;
		align-items: center;
		.control-label,
		.control-label label {
			font-weight: bold;
		}
		.control-label + [class*="col-"] {
			padding: 0;
		}
	}
	#eb-group-billing,
	#eb-group-members-information {
		.form-group {
			.control-label,
			.control-label label {
				font-weight: normal;
			}
			label.radio {
				display: flex;
				margin-bottom: 5px;
				align-items: center;
			}
		}
	}
	#eb-group-billing {
		#eb-group-registration-form .form-actions {
			margin-top: 20px;
		}
		.eb-form-heading {
			margin-bottom: 30px;
		}
	}
	&.eb-container .form-group select.input-large,
	&.eb-container .form-group textarea.input-large,
	&.eb-container input[type="text"] {
		box-sizing: border-box !important;
		min-width: 250px;
		&[id*="amount"] {
			min-width: calc(250px - 35px);
		}
	}
	#payment_method_container label.radio {
		display: flex;
		margin-bottom: 5px;
		align-items: center;
		@include rtl-margin-left(20px);
	}
}
#eb-calendar-page {
	.fc-left {
		.fc-state-default {
			background: #717f8e;
			border: none;
			box-shadow: none;
			border-radius: 0;
			height: 35px;
			margin-right: 10px;
			margin-left: 0;
			color: #fff;
			text-shadow: none;
			opacity: 1;
			padding: 0 20px;
			.fc-icon{
				text-shadow: none;
				&:before {
					display: inline-block;
					font: normal normal normal 14px/1 FontAwesome;
					font-size: inherit;
					text-rendering: auto;
					color: #fff;
				}
				&:after {
					font-size: 0;
				}
			}
			&.fc-prev-button {
				.fc-icon:before {
					content: "\f104";
				}
			}
			&.fc-next-button {
				.fc-icon:before {
					content: "\f105";
				}
			}
		}
		.fc-button-group .fc-state-default {
			width: 35px;
			padding: 0;
		}
	}
	.fc-right {
		.fc-state-default {
			text-shadow: none;
			box-shadow: none;
			border-radius: 0;
			background: #fff;
			border-color: #d1d6de;
			padding: 6px 20px;
			height: auto;
			&:hover {
				color: #fff;
			}
		}
	}
	#eb_full_calendar {
		margin-top: 25px;
		.fc-toolbar.fc-header-toolbar {
			margin-bottom: 18px;
		}
	}
}
.eb-topmenu-calendar {
	margin: 22px 0 26px;
	ul.nav {
		margin: -2px 0 0;
		li {
			padding: 2px 0;
			@include rtl-float-left();
			a {
				border-radius: 0 !important;
				border: 1px solid #d1d6de;
				background: #fff;
				margin: 0 -1px 0 0 !important;
				border-width: 1px;
				padding-top: 10px;
				padding-bottom: 9px;
				line-height: 14px;
				&:hover, &.active {
					color: #fff;
				}
			}
		}
	}
	.eb-menu-calendar {
		@include rtl-float-left();
	}
}
.eb-calendar {
	padding: 5px 0;
	#eb-current-month {
		width: 60%;
		float: none;
		select {
			height: 30px;
			border: none;
			margin: 0 5px !important;
			float: none;
			&#month {
				margin-right: 10px !important;
				min-width: 145px;
			}
			&#year {
				min-width: 95px;
			}
		}
	}
	.eb-calendar-nav {
		padding: 9px !important;
		width: 20%;
		a {
			display: inline-block;
			padding: 5px 1px;
			img {
				display: none;
			}
			&:before {
				display: inline-block;
				font: normal normal normal 14px/1 FontAwesome;
				font-size: 18px;
				text-rendering: auto;
			}
		}
		&:first-child {
			a:before {
				content: "\f100";
			}
		}
		&:last-child {
			a:before {
				content: "\f101";
			}
		}
	}
	ul {
		&.regpro-calendarMonthHeader {
			display: flex;
			align-items: center;
			justify-content: center;
		}
		&.eb-weekdays {
			background: #d1d6de;
			height: 33px;
			display: flex;
			li {
				text-align: center;
				text-transform: none;
				line-height: 20px;
				padding: 10px 6px;
				color: #1f1f1f;
				font-size: 14px;
				&.regpro-calendarWeekDayHeader {
					background: #efefef;
					border-color: #d1d6de;
				}
			}
		}
		&.eb-days {
			background: #d1d6de;
			border-bottom: 1px solid #d1d6de;
			border-right: 1px solid #d1d6de;
			.regpro-calendarDay {
				background-color: #fff;
				text-align: right;
				color: #1f1f1f;
				border-left: 1px solid #d1d6de;
				border-top: 1px solid #d1d6de;
				a.eb_event_link {
					background: #a8eacf;
					border: none;
					margin-bottom: 2px;
					text-align: left;
					img {
						margin-bottom: 3px;
					}
				}
			}
		}
	}
}
.field-calendar {
	> .input-append {
		display: inline-flex;
		border: 1px solid #d1d6de;
		input[type="text"] {
			border-width: 0 1px 0 0;
			border-style: solid;
			border-color: #d1d6de;
			+ button.btn {
				padding: 0 9px;
				background: #f0f0f0;
				//border-left: 1px solid #d1d6de;
			}
		}
	}
	+ input[type="button"] {
		padding: 8px 20px;
		color: #fff;
	}
}
#eb-calendar-legend {
	ul {
		margin: 12px 0 0;
		padding: 0;
		overflow: hidden;
		li {
			margin-right: 30px;
			span {
				margin-right: 15px;
				margin-left: 0;
			}
			a {
				font-size: 14px;
				color: #000;
			}
		}
	}
}
#extcalendar {
	> .topmenu_calendar:not(.row) {
		display: flex;
		justify-content: space-between;
		align-items: center;
		flex-direction: row-reverse;
		margin: 25px 0 28px;
		.eb-topmenu-calendar {
			flex: 0 0 50%;
			margin: 0;
		}
		.left_calendar {
			flex: 0 0 50%;
			display: flex;
			align-items: center;
			margin-top: -3px;
		}
	}
	.today {
		color: #1f1f1f;
	}
	.previousmonth, .nextmonth, .previousweek, .nextweek, .previousday, .nextday {
		height: 50px;
	}
	.eb-topmenu-calendar .eb-menu-calendar {
		@include rtl-float-left();
	}
	.left_calendar {
		width: 100%;
		.today {
			padding: 0;
		}
	}
	.tableh2 {
		background: #ececec;
		color: #1f1f1f;
		border-left: 1px solid #d1d6de;
		border-right: 1px solid #d1d6de;
		}
	.wraptable_calendar {
		> table > tbody {
			> tr {
				> .tableb {
					background-color: #fff;
					border-width: 1px 0 0 0;
					border-style: solid;
					border-color: #d1d6de;
					padding: 0;
				}
			}
		}
		span.eb_no_events {
			padding: 22px 0;
			display: table-cell;
		}
		.tablec {
			a {
				display: inline-block;
				padding: 5px 1px;
				background: transparent;
				img {
					display: none;
				}
				&:before {
					display: inline-block;
					font: normal normal normal 14px/1 FontAwesome;
					font-size: 18px;
					text-rendering: auto;
				}
			}
			.currentday,
			.currentmonth,
			.currentweek {
				font-size: 18px;
				text-transform: none;
				font-family: Lora;
				font-weight: bold;
			}
			.previousday,
			.previousweek {
				width: 20%;
				a:before {
					content: "\f100";
				}
			}
			.nextday,
			.nextweek {
				width: 20%;
				a:before {
					content: "\f101";
				}
			}
		}
	}
	.tablea {
		background-color: #fff;
		border-bottom: 1px solid #d1d6de;
		border-left: 1px solid #d1d6de;
		font-size: 28px;
		padding: 30px;
	}
	.tableb {
		background-color: #fff;
		border-left: 1px solid #d1d6de;
		border-bottom: 1px solid #d1d6de;
		border-right: 1px solid #d1d6de;
		padding: 6px 13px 20px;
		.eventdesc {
			color: #1f1f1f;
			h4 {
				font-size: 18px;
				a {
					color: #1f1f1f;
				}
			}
			.cat-name, .location-name {
				margin: 0 0 12px;
				font-size: 14px;
				padding: 0;
				a {
					color: #1f1f1f;
				}
			}
		}
	}
}
.fc-unthemed .fc-content, .fc-unthemed .fc-divider, .fc-unthemed .fc-list-heading td, .fc-unthemed .fc-list-view, .fc-unthemed .fc-popover, .fc-unthemed .fc-row, .fc-unthemed tbody, .fc-unthemed td, .fc-unthemed th, .fc-unthemed thead {
	border-color: #d1d6de;
}
.fc {
	th {
		border-width: 1px 0 1px;
		padding: 5px 0;
		font-size: 14px;
	}
	td {
		font-size: 12px;
		font-weight: bold;
		a:not(.fc-event) {
			color: #1f1f1f;
		}
		.fc-day-grid-event {
			margin: 0 0 2px;
		}
		.fc-event {
			background: #a8eacf;
			border-radius: 0;
			font-size: 12px;
			border: none;
			padding: 5px 0;
			.fc-content {
				padding: 0 20px;
			}
		}
		&.fc-today {
			background: #efefef;
		}
	}
}
/* ========== Submit Events ========== */
.eb-container .field-calendar {
	+ select[name*="_hour"] {
		margin: 0 7px;
	}
}
.eb_form_header {
	margin: 0 0 25px;
    overflow: hidden;
	> div:first-child {
		font-size: 28px;
		font-family: Lora;
		font-weight: bold;
	}
	+ div + form {
		> .row {
			margin: 0;
		}
	}
}
ul#eventTabs {
	margin-bottom: 25px;
	li {
		padding: 0;
		a {
			font-size: 18px;
			border: 1px solid #d1d6de;
			border-radius: 0;
			margin: 0 -1px;
			background: #fff;
			color: #1f1f1f;
			padding: 9px 13px;
		}
		&.active a,&:hover a {
			color: #fff;
		}
	}
}
.form-horizontal #eventContent {
	#misc-page {
		textarea {
			min-width: 250px;
		}
	}
	#discount-page {
		td {
			&:not(.key) {
				padding-bottom: 20px;
			}
			&.key {
				padding: 8px 20px 0 0;
				vertical-align: top;
				white-space: nowrap;
			}
		}
	}
	.control-label {
		font-weight: normal;
	}
	.form-group {
		margin: 0 0 20px;
		display: flex;
		align-items: flex-start;
	}
	input[type="text"] {
		min-width: 250px;
		max-width: 250px;
		&#early_bird_discount_date {
			min-width: 218px;
		}
		&[name*="discount_amount"] {
			@include rtl-margin-right(5px);
		}
		&[name="remind_before_x_days"] {
			@include rtl-margin-right(10px);
		}
	}
	.input-append > input[type="text"] {
		min-width: calc(250px - 31px);
		max-width: calc(250px - 31px);
	}
	select:not(.input-mini) {
		min-width: 272px;
		&#category_id {
			padding: 10px 0;
			min-height: 60px;
			option:first-child + option {
				margin: 10px 0;
			}
		}
	}
	input[type="file"] {
		height: 35px;
		border: 1px solid #d1d6de;
		padding: 7px 6px;
		max-width: 272px;
		display: flex;
		align-items: center;
	}
	[class*="js-editor"] {
		.mce-edit-area.mce-container {
			border-color: #d1d6de !important;
			border-right: 1px solid #d1d6de;
			iframe {
				max-height: 160px;
			}
		}
		.btn-toolbar.toggle-editor {
			a.btn {
				background: transparent;
				border: none;
				box-shadow: none;
				padding: 5px 0 0;
			}
		}
		textarea {
			&#short_description,
			&#description {
				min-width: 100%;
				padding: 10px 15px 0;
			}
		}
	}
	#price_list {
		th {
			padding: 0 0 10px;
		}
		input[type="text"] {
			margin: 0 30px 20px 0;
		}
		td input[type="button"] {
			margin-top: 10px;
			color: #fff;
			&[onclick*="removeRow"] {
				background: #717f8e;
			}
		}
	}
}
/*========== Registrants Pages ========== */
body .tooltip-inner {
    padding: 10px 15px;
    color: #fff;
    background-color: #000;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
}
#eb-registrants-management-page {
	> form {
		display: flex;
		flex-direction: column-reverse;
		table {
			order: 1;
			> thead,
			> tbody {
				> tr {
					> th, > td {
						padding: 20px;
					}
				}
			}
		}
		> div.btn-toolbar {
			order: 1;
		}
		> fieldset {
			order: 0;
			.filter-search {
				input[type="text"]#filter_search {
					min-width: 250px;
					height: 33px;
				}
			}
		}
	}
	#btn-toolbar {
		> .btn-toolbar {
			margin: 8px 0 15px 10px; 
			.btn-wrapper {
				display: inline-block;
				margin: 0 8px 5px 0;
			}
		}
	}
	.filters {
		.btn-group {
			button[type="submit"] + button[type="button"],
			button[type="submit"]{
				background: #cc4d3d;
				border-radius: 0;
				padding: 9px 15px;
				display: flex;
				justify-content: center;
				height: 35px;
				color: #fff;
			}
			button[type="submit"] + button[type="button"] {
				margin-left: 10px;
			}
			button.btn .icon-remove {
				display: inline-block;
				font: normal normal normal 14px/1 FontAwesome;
				font-size: inherit;
				text-rendering: auto;
			}
			.chzn-container-single-nosearch {
				margin-left: 6px;
				min-width: 200px;
			}
		}
	}
}
/*========== Location Pages ========== */
h1.eb_title {
	margin-top: 0;
}
form[action*="view=location"]#adminForm {
	> div {
		&.row-fluid {
			margin: 0 -15px;
		}
		> [class*="col-"] {
			.form-group {
				display: flex;
				margin-bottom: 20px;
				justify-content: flex-start;
				margin-left: 0;
				margin-right: 0;
				input[type="text"] {
					width: 270px;
				}
				&:first-child + .form-group + .form-group + .form-group {
					flex-direction: column;
					margin-top: 30px;
				}
			}
			&:last-child {
				.form-group {
					flex-direction: column-reverse;
					&:last-child {
						[class*="col-"]:last-child {
							width: 100%;
							padding: 0;
						}
					}
				}	
			}
		}
	}
	.form-actions {
		border: none;
		background: transparent;
		padding: 0;
		margin-top: 10px;
	}
	label{
		&.control-label {
			display: flex;
			justify-content: flex-start;
			align-items: center;
			padding: 0;
			font-weight: normal;
			> input[type="button"] {
				border: none;
				padding: 8px 29px;
				color: #fff;
				margin-top: 30px;
			}
		}
		&.radio {
			margin-bottom: 20px;
			margin-left: 20px;
		}
	}
}
.formError {
	.formErrorContent {
		background: #000;
		border: none;
		box-shadow: none;
		border-radius: 0;
	}
	.formErrorArrow div {
		background: #000;
		border: none;
		box-shadow: none;
		&.line3 {
			border: none;
		}
	}
}
/*========== Edit Registrants ========== */
	span[class*="icon-"] {
		display: inline-block;
		font: normal normal normal 14px/1 FontAwesome;
		font-size: inherit;
		text-rendering: auto;
	}
	.icon-user:before {
		content: "\f007";
	}
	.icon-remove:before {
		content: "\f00d";
	}
.sunfw-view-registrant {
	.eb-container {
		form[action*="manage-registrants"] {
			.control-group {
				display: flex;
				align-items: center;
				margin-bottom: 20px;
				.control-label {
					flex: 0 0 170px;
				}
				select {
					min-width: 252px;
				}
				input[type="text"] {
					min-width: 230px;
				}
				.input-group input[type="text"] {
					min-width: 196px;
				}
				.input-append {
					display: flex;
					input[type="text"] {
						min-width: 198px;
					}
					.modal_user_id {
						background: #f0f0f0;
						color: #1f1f1f;
						height: 37px;
						line-height: 35px;
						padding: 0 10px;
						border: 1px solid #d1d5d6;
						border-width: 1px 1px 1px 0;
					}
				}
			}
			.btn-toolbar {
				text-align: right;
				margin-top: -18px;
				margin-bottom: 5px;
				.btn-wrapper {
					display: inline-block;
					margin: 0 0 5px 7px;
				}
			}
		}
	}
}
@media (max-width: $screen-sm-max) {
	#eb-event-info .table,
	#eb-events .table {
		margin-top: 20px;
	}
	.eb-calendar ul.eb-days {
		border-right: 1px solid #d1d6de;
	}
	#eb-registrants-management-page .filters .btn-group [class*="chzn-container-single"] {
		max-width: 145px;
		min-width: 145px;
	}
	#eb-individual-registration-page .form-actions, #eb-group-registration-form .form-actions {
		padding: 0 0 0 175px;
	}
}
@media (max-width: $screen-xs-max) {
	#eb-registrants-management-page > form > fieldset .filter-search input[type="text"]#filter_search {
		min-width: 200px;
	}
	#basic-information-page .mce-listbox button {
		padding-right: 5px;
	}
	.sunfw-com-eventbooking .btn.eb-colorbox-addlocation {
		margin-top: 10px;
		margin-left: 0;
	}
	#eb-individual-registration-page.eb-container .form-group select.input-large {
		min-width: 100%;
	}
	#extcalendar > .topmenu_calendar:not(.row) {
		align-items: flex-start;
		flex-direction: column-reverse;
		.left_calendar {
			margin-top: 10px;
			strong {
				font-size: 11px;
				margin: 0 5px 0 0;
			}
		}
	}
	body {
		.eb-description-details {
			a {
				img {
					width: 100%;
					margin-bottom: 20px !important;
				}
			}
		}
		.eb-event-container {
			padding: 0 0 0 80px;
			background-position: 30px 79px;
		}
		.eb-event-box,
		.eb-event-container {
			.eb-event-date-container {
				margin: 0 0 0 -80px;
			}
			.eb-event-date {
				height: 60px;
				padding: 0;
				width: 60px;
			}
		}
		.eb-event-box {
			.eb-event-title {
				font-size: 16px;
			}
			.eb-event-price {
				padding: 6px 10px;
				margin: -70px 15px 0;
			}
		}
		#eb-events,
		#eb-event-info {
			.table {
				border-width: 1px 0 1px 1px;
				border-style: solid;
				border-color: #d1d6de;
				tr {
					td, th {
						padding: 10px 7px;
					}
				}
			}
		}
	}
	#eb-event-archive-page-table {
		table {
			th,td {
				width: 20%;
			}
		}
	}
	#extcalendar .left_calendar .today {
		text-align: left;
	}
	.eb-calendar ul.eb-weekdays li {
		font-size: 9px;
	}
	#eb-calendar-page .fc-right .fc-state-default {
		padding: 6px 10px;
	}
	#eb-individual-registration-page,
	#eb-group-registration-form {
		#number_registrants {
			min-width: 100%;
		}
		.form-group {
			align-items: flex-start;
			flex-direction: column;
			[class*="col-"]:last-child {
				width: 100%;
				padding: 0;
			}
		}
		&.eb-container input[type="text"] {
			min-width: 100%;
		}
		.form-actions {
			padding: 0;
		}
	}
	ul#eventTabs li a {
		font-size: 15px;
	}
	.form-horizontal #eventContent {
		.form-group {	
			align-items: flex-start;
			flex-direction: column;
			[class*="col-"]:last-child {
				width: 100%;
				padding: 0;
			}
			.col-sm-9 > div {
				float: none !important;
				display: block;
			}
			input[type="file"] {
				width: 100%;
				max-width: 100%;
			}
			input[type="text"] {
				min-width: calc(100% - 23px);
				width: calc(100% - 23px);
			}
			select:not(.input-mini) {
				width: 100%;
				min-width: 100%;
			}
			.input-append {
				> input[type="text"][id*="_date"] {
					width: 75% !important;
					min-width: 74% !important;
				}
				> input[type="text"]#cancel_before_date {
					width: 240px !important;
				}
			}
		}
	}
	#eb-registrants-management-page  {
	    width: 340px;
		overflow-x: scroll;
		table {
			    table-layout: unset;
		}
		.filters {
			.btn-group {
				width: auto;
			}
			.btn-group:last-child {
				[id^="filter_"] {
					margin: 10px 0;
					width: 100%;
				}
			}
		}
	}
	#group-registration-rates-page {
		width: 290px;
		overflow-x: scroll;
	}
	.form-horizontal #eventContent #discount-page td.key {
		padding: 0;
		white-space: unset;
	}
	.form-horizontal #eventContent input[type="text"][name*="discount_amount"] {
		width: calc(100% - 89px);
		min-width: calc(100% - 89px);
	}
	.eb-container .field-calendar + select[name*="_hour"] {
		margin: 0 5px;
	}
	.eb-event-columns .up-event-item {
		flex-direction: column;
		.image {
			a {
				display: block;
				img {
					width: 100%;
					margin-bottom: 20px;
				}
			}
		}
	}
	#eb-category-page-default .eb-description td {
		white-space: unset;
	}
	#eb-calendar-page #eb_full_calendar {
		.fc-scroller.fc-day-grid-container {
			height: 100% !important;
		}
	}
	.eb_form_header {
		input[name="btnSave"] {
			padding-left: 20px;
			padding-right: 20px;
		}
		.eb_form_header > div:first-child {
			font-size: 22px
		}
	}
	.eb-event-columns .up-event-item .up-event-meta {
		align-items: flex-start;
		flex-direction: column;
	}
	form[action*="view=location"]#adminForm label.control-label {
		min-width: 75px;
	}
	form[action*="view=location"]#adminForm > div > [class*="col-"] .form-group input[type="text"] {
		width: 100%;
	}
	.form-horizontal #eventContent [class*="js-editor"] textarea#short_description, .form-horizontal #eventContent [class*="js-editor"] textarea#description {
		    min-width: calc(100% - 32px);
	}
}
@media (max-width: 480px) {
	table.eb-responsive-table td::before {
		width: 40%;
	}
	.eb-event-container .eb-event-information .eb-event-price-container .eb-individual-price {
		position: absolute;
		right: 15px;
		top: 21px;
	}
}