label{
	font-weight: normal;
    color: #fefefe;
	span.star{
		color: #F95050;
	}
}
select[multiple], select[size],
select, textarea, 
input[type="text"], 
input[type="password"], 
input[type="datetime"], 
input[type="datetime-local"], 
input[type="date"], 
input[type="month"], 
input[type="time"], 
input[type="week"], 
input[type="number"], 
input[type="email"], 
input[type="url"], 
input[type="search"], 
input[type="tel"], 
input[type="color"]{
    height: 33px;
    padding: 0 10px;
    font-size: 14px;
	color: #fefefe;
    background-color: #1a1b1e;
    border: solid 1px #2a2d32;
    background-image: none;
    transition: border-color ease-in-out .15s;
    outline: 0;
	border-radius: 2px;
	-webkit-border-radius: 2px;
    min-width: 70px;
    &:focus{
    	border-color: #b3383a;
    }
    &[aria-invalid="true"]{
    	border-color: #b3383a;
    }
}
textarea {
	height: auto;
}
input[disabled], select[disabled], textarea[disabled], input[readonly], select[readonly], textarea[readonly]{
	cursor: not-allowed;
    background-color: #1a1b1e;
}

.chzn-container-single .chzn-single{
    color: #fefefe;
}
