/* Search Module */

.search {
	#mod-search-searchword{
		border: 1px solid #D1D6DE;
		background: #fff;
	    height: 35px;
	}
	button{
		padding: 10.5px 30px;
		line-height: 1.4;
	}
}

/* Search Smart Module */
.form-search {
	input.search-query{
		border: 1px solid #D1D6DE;
		background: #fff;
	    height: 35px;
	    margin-bottom: 5px;
	}
	button{
		height: 35px;
		padding: 0 15px;
		margin-bottom: 5px;
		margin-left: 5px;
		margin-right: 5px;
	}
	.control-group .controls label{
		font-weight: normal;
		padding: 8px 0;
	}
}

/* Language Switcher Module */
div.mod-languages {
	a.dropdown-toggle{
		border: 1px solid #D1D6DE;
		background-color: #F0F2F5;
		padding: 7px 10px;
		color: #394A5C;
	}
	.posttext{
		margin-top: 10px;
	}
}

/* Wrapper Module */
iframe.wrapper{
	border: 1px solid #394A5C;
}

