// ======================================
// ------------ GENARAL -----------------
// ======================================

$page-border: none !default;

$page-box-shadow: none !default;


html {
	position: relative;
	min-height: 100%;
}

body {
	height: 100%;
	overflow-x: hidden;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	a {
		transition: all 0.3s ease-in-out;
	}
}
.sunfw-view-mailto {
	padding: 20px;
}
.sw-header {
	position: relative;
	z-index: 999;
}
.content-center {
	text-align: center;
	margin-top: 10px;
}
.heading-divider > span {
    margin: 0px 30px;
    line-height: 29px;
}
.hover-line-text a {
	transition: color 1s ease;
	display: inline-block;
	&:after {
	    content: "";
	    width: 2px;
	    height: 1px;
	    bottom: 0;
	    left: 0;
	    right: 0;
	    margin: -2px auto 0;
	    transition: all 0.5s ease 0s;
	    display: block;
	}
	&:hover {
		color: #fff;
		&:after {
			width: 100%;
	    	height: 1px;
	    	background-color: #fff;
    	}
	}
}
// Row Flex
.sunfw-flex {
    display: -webkit-flex !important;
    display: flex !important;
    flex-wrap: wrap;        
    &.flex-items-middle {
        align-items: center;
        -webkit-align-items: center;
    }
    &.flex-items-top {
        align-items: top;
        -webkit-align-items: top;
    }
    &.flex-items-bottom {
        align-items: bottom;
        -webkit-align-items: bottom;
    }
    &.flex-items-right{
    	justify-content: flex-end;
    }
    //fix for safari
    &:before, &:after{
    	display: none;
    }
}

#{$brand-prefix}content {
	height: 100%;
	@include transition(all .3s);
}

img {
	max-width: 100%;
}
.sunfw-scrollup {
	background-color: rgba(0,0,0,0.5);
	display: none;
	position: fixed;
	bottom: 30px;
	right: 30px;
	color: #999;
	z-index: 10000;
	padding: 10px 35px;
	transition: color 0.3s linear, background 0.3s ease-in-out;
	text-align: center;
	&:hover {
		background-color: #1f1f1f;
	}
	i {
		font-size: 20px;
	}
	&:hover {
		text-decoration: none;
		color: #fff;
	}
	&.position-center {
		left: 50%;
	 	-webkit-transform: translateX(-50%);
	    -ms-transform: translateX(-50%);
	    transform: translateX(-50%);   
		bottom: 0;
		right: auto;
	}
	&.position-left {
		left: 30px;
		right: auto;
	}
}
.sunfw-switcher a.btn{
	padding: 5px 10px;
	margin-bottom: 1px;
	color: #000;
	border-radius: 0;
	&.active,&:active{
		box-shadow: none;
		border-bottom: 1px solid #000;
	}
}
.chzn-container-single {
    .chzn-single {
		height: 35px;
		border-radius: 0;
		line-height: 35px;
		padding-left: 8px;
		padding-right: 8px;
	}
}
fieldset {
	margin-bottom: 20px;
}
.sample-module {
	margin-top: 20px;
}
.sunfw-com-config[class*="sunfw-view-"] {
	.radio input[type="radio"], .radio-inline input[type="radio"], .checkbox input[type="checkbox"], .checkbox-inline input[type="checkbox"] {
		@include rtl-margin-left(0);
	}
	.form-horizontal .control-label {
		@include rtl-text-align-left();
	}
}
/* ---------- Search Page ----------- */
form#searchForm{
	border: none;
	padding: 0;
	.searchintro{margin: 25px 0 10px;}
	fieldset {
		margin-top:15px;
		+ fieldset.only {
			margin-top: 35px;
		}
		legend {
			padding-bottom: 8px;
			margin-bottom: 8px;
			padding-top: 8px;
			font-family: Lora;
		}
		label.radio, label.checkbox {
			margin-top: 20px;
			margin-bottom: 20px;
		}
		label input{
			display: inline-block;
			position: inherit;
			margin: -1px 6px 0 0;
			vertical-align: middle;
		}
		.ordering-box {
			padding-top: 5px;
		}
	}
	p.counter{ padding: 10px 0;}
	.chzn-container-single {
		display: block;
		margin: 5px 0 0;
	}
	.form-limit {
		> label[for="limit"] {
			font-weight: bold;
			font-size: 14px;
			font-family: Lora;
		}
	}
}
.search-results {
	margin: 10px 0;
	padding: 0;
	.result-title{
		padding-top: 5px;
		font-family: Lato;
		font-weight: bold;
	}
	.result-category {
		margin: 3px 0 10px;
	}
	.result-created {
		margin-bottom: 22px;
	}
	li {
		list-style: none;
	}
}
.chzn-container-single .chzn-single {
	border-radius: 0;
    box-shadow: none;
    background: transparent;
    border-color: #D1D6DE;
	height: 35px;
    line-height: 35px;
	div b {
		margin: 5px 0;
	}
}
.chzn-container-single .chzn-single span{
	@include rtl-margin-right(0);
}

.sunfw-sticky.sunfw-sticky-open {
	background: #000;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	right: 0;
	z-index: 999;
	.sunfw-menu-head.navbar-default {
		margin-top: 0;
	}
}
.search {
	#searchForm .chzn-container-single-nosearch {
		min-width: 250px;
	}
}
#finder-search {
	button.btn {
		padding-bottom: 8px;
		padding-top: 8px;
		@include rtl-margin-left(8px);
		line-height: 1.4;
		vertical-align: top;
		+ a[href="#advancedSearch"] {
			line-height: 1.4;
			vertical-align: top;
		}
		.span[class*="icon-"] {
			@include rtl-margin-right(5px);
		}
	}
	.finder-selects {
		margin: 0 0 30px;
		.control-label {
			margin-bottom: 8px;
		}
	}
	fieldset {
		margin-bottom: 0;
		> label {
			@include rtl-margin-right(10px);
		}
	}
	#advancedSearch {
		#search-query-explained {
			padding: 0;
		}
		#finder-filter-window .field-calendar {
			margin-top: 10px;
		}
		.advanced-search-tip {
			margin: -5px 0;
		}
	}
}
.finder {
	#search-query-explained {
		padding: 30px 0 0;
	}
	label.finder {
		@include rtl-margin-right(10px);
	}
	> .btn[class*="btn-"] span[class*="icon-"] {
		@include rtl-margin-right(10px);
	}
}
div#finder-filter-window .filter-branch .finder-selects {
	float: none;
}
.search-module {
	input {
		width: 100% !important;
		margin-bottom: 20px;
	}
	button {
		width: 100%;
	}
}
#finder-search button.btn {
	span[class*="icon-"] {
		@include rtl-margin-right(5px);
	}
}
/* ============ Top ============ */
.sunfw-pos-top {
	padding: 30px 0 0;
}
/* ============ PROMO ============ */


/* ============ MAINCONTENT ============ */
.sunfw-view-article > .sunfw-content > .item-page {
	padding: 20px;
}
/* ---------- Article Category Blog ----------- */
.page-header {
	padding: 0;
	margin: 0;
	border-bottom: none;
	clear: both;
	h2 {
		margin-bottom: 6px;
		font-size: 18px;
		font-weight: bold;
		a {
			font-size: 18px;
			font-weight: bold;
			color: #1f1f1f;
		}
	}
}
.article-info[class*="mut"] {
    margin: 5px -5px 9px;
	color: #1f1f1f;
	dl {
		margin-bottom: 0;
	}
	dd {
		display: inline-block;
		padding: 0 5px;
		line-height: 22px;
		margin: 0;
		&:first-child {
			@include rtl-padding-right(0);
		}
		i.fa {
			@include rtl-margin-right(6px);
		}
	}
	+ .content_rating + form {
		margin-bottom: 20px;
	}
}
.icons {
	.btn-group {
		.btn.dropdown-toggle {
			padding: 0;
			.caret {
				@include rtl-margin-left(5px);
			}
		}
		&.open {
			.btn.dropdown-toggle {
				box-shadow: none;
			}
		}
	}
}
.layout-item {
	.items-leading {
		[class*="leading-"] {
			margin-bottom: 30px;
			overflow: hidden;
		}
	}
	.blog-featured {
		.items-leading {
			[class*="leading-"] {
				margin-bottom: 25px;
			}
		}
	}
	.items-row {
		margin-bottom: 30px;
		&:last-child {
			margin-bottom: 0;
		}
	}
}
.items-more {
	margin: 60px 0 0;
    clear: both;
	.nav-tabs {
		border-color: #D1D6DE;
		> li {
			> a {
				padding: 0 0 18px;
				margin: 0;
				border: none;
				&:hover {
					background: transparent;
				}
			}
		}
	}
}
.content_rating {
    display: flex;
    align-items: center;
	@include rtl-float-right();
	margin: 10px 0px;
	p {
		margin: 0;
		@include rtl-margin-right(10px);
	}
	+ form {
		input[name="submit_vote"] {
			color: #fff;
			@include rtl-margin-left(8px);
		}
		.content_vote {
			display: flex;
			align-content: center;
			align-items: center;
			label {
				@include rtl-margin-right(5px);
			}
		}
	}
}
.blog-featured,
.blog {
	.item-image {
		margin-bottom: 16px;
	}
	.entry-content {
		clear: both;
	}
	h2.item-title {
		margin-top: 0;
		font-size: 18px;
		font-weight: bold;
	}
	.content_rating {
		margin: 25px 0 15px;
	}
}
.readmore {
	margin: 13px 0 0;
	@include rtl-float-left();
}
/* ---------- Article Category List ----------- */
.content-category {
	.page-header {
		padding-top: 15px;
	}
	.category-desc {
		+ form {
			fieldset.btn-toolbar {
				margin-bottom: 30px;
				padding-top: 32px;
				@include rtl-margin-left(0);
				label {
					@include rtl-margin-right(5px);
				}
			}
			table {
				td[headers="categorylist_header_date"] {
					font-size: 100%;
				}
			}
		}
	}
	.cat-children {
		margin: 20px 0 0;
		h3.page-header {
			padding: 0 0 15px;
			border-bottom: 1px solid #D8D8D8;
			margin-bottom: 20px;
			margin-top: 20px;
		}
		h1 {
			font-size: 18px;
			font-weight: bold;
		}
	}
}
.badge {
    padding: 4px 10px;
    font-size: 14px;
    font-weight: normal;
    color: #1f1f1f;
    background-color: #fff;
    border-radius: 0;
    border: 1px solid #D1D6DE;
    line-height: 15px;
}
/* ---------- Article Categories ----------- */
.categories-list {
	.page-header {
		margin-bottom: 10px;
	}
	div:not(.base-desc) {
		margin: 30px 0 0;
	}
}
.cat-children,
.categories-list {
	.item-title.page-header {
		padding-bottom: 20px;
		border-bottom: 1px solid #D1D6DE;
		margin-bottom: 20px;
		font-weight: bold;
	}
	div.category-desc {
		margin: 20px 0 10px;
		+ div.collapse {
			@include rtl-padding-left(30px);
		}
	}
	.badge {
		border: 1px solid #D1D6DE;
		background: #fff;
		border-radius: 0;
		font-size: 13px;
		padding: 4px 10px;
		@include rtl-margin-left(5px);
		color: #1f1f1f;
	}
	a[data-toggle="collapse"] {
		padding: 0;
		border-radius: 100%;
		&:active {
			box-shadow: none;
		}
	}
	a {
		&.btn.btn-mini[id^="category-btn-"],
		&.btn.btn-mini[href*="#category-"] {
			background: #fff;
		}
		.icon-plus,
		.icon-minus {
			background: transparent;
			&:after {
				display: inline-block;
				font: normal normal normal 14px/1 FontAwesome;
				font-size: inherit;
				text-rendering: auto;
				font-size: 10px;
				width: 25px;
				height: 25px;
				background-color: #1F1F1F;
				color: #fff;
				line-height: 25px;
				border-radius: 100%;
			}
		}
		.icon-minus:after {
			content: "\f068";
		}
		.icon-plus:after {
			content: "\f067";
		}
		&[aria-expanded="true"] {
			.icon-plus:after {
				content: "\f068";
			}
		}
	}
}
.cat-children {
	> h3 {
		font-size: 28px;
	}
	> div {
		margin-bottom: 20px;
	}
}
/* ---------- Single Article ----------- */
button.btn {
	.icon-calendar {
		display: inline-block;
		font: normal normal normal 14px/1 FontAwesome;
		font-size: inherit;
		text-rendering: auto;
		&:after {
			content: "\f073";
			font-size: 14px;
		}
	}
}
.item-page {
	.item-image {
		margin-bottom: 20px;
	}
	.articleBody {
		clear: both;
	}
	.article-index[class*="pull-"] + .articleBody {
		clear: none;
	}
	&.edit {
		#com-content-formTabs {
		
			margin-bottom: 35px;
			> li {
				padding: 0;
				margin-bottom: 0;
				> a {
					padding: 7px 20px;
					border-radius: 0;
					border-width: 1px 1px 0 0;
					border-style: solid;
					border-color: #D1D6DE;
					color: #1f1f1f;
					font-size: 16px;
					margin: 0;
				}
				&:first-child a {
					border-width: 1px 1px 0 1px;
				}
				&.active {
					> a {
						color: #fff;
					}
				}
			}
		}
		#editor {
			> .control-group {
				.control-label {
					width: 10%;
				}
			}
		}
		.control-group {
			margin: 0 0 20px;
			label {
				@include rtl-margin-right(10px);
			}
			.media-preview {
				display: none;
			}
		}
		.js-editor-tinymce {
			.mce-edit-area {
				border-width: 1px 1px 0 0 !important;
				border-color: #d5d6d8;
			}
			.mce-panel {
				border-color: #d5d6d8;
				background-color: #f8f8f8;
			}
		}
		.sunfw-media-selector {
			input {
				+ .btn {
					padding: 8px 15px;
					vertical-align: top;
					line-height: 1.4;
				}
			}
		}
		#attrib-sunfw-options {
			margin-bottom: 45px;
			overflow: hidden;
			.input-append {
				input[type="text"] {
					min-width: calc(355px - 38px);
				}
			}
		}
		.control-label {
			margin-bottom: 4px;
		}
		#com-content-formContent #images,
		#publishing {
			margin-bottom: 65px;
			.chzn-container-multi .chzn-choices {
				border-color: #d5d6d8;
				background: transparent;
			}
			button.btn {
				padding: 8px 10px;
				vertical-align: top;
				line-height: 1.4;
				color: #191919;
			}
		}
		#publishing {
			margin-bottom: 60px;
		}
		#metadata {
			margin-bottom: 60px;
			.control-label {
				flex: 0 0 15%;
			}
		}
		#language {
		margin-bottom: 65px;
			.control-group {
				margin-bottom: 10px;
			}
		}
		.chzn-container-multi .chzn-choices,
		select:not(.time), textarea, input[type="text"], input[type="password"], input[type="datetime"], input[type="datetime-local"], input[type="date"], input[type="month"], input[type="time"], input[type="week"], input[type="number"], input[type="email"], input[type="url"], input[type="search"], input[type="tel"], input[type="color"],
		.chzn-container-single .chzn-single {
			min-width: 355px;
		}
		.input-append input[type="text"] {
			min-width: 322px;
			+ a + a.btn.hasTooltip {
				padding: 7px 10px;
				vertical-align: top;
				background: #f0f0f0;
				border-width: 1px 1px 1px 0;
				border-style: solid;
				border-color: #d1d6d5;
			}
		}
		.chzn-container-single .chzn-search input[type="text"] {
			min-width: 100%;
		}
		.calendar-container table {
			max-width: 355px;
		}
		button.btn:not(.btn-primary) {
			background: #717f8e;
			color: #fff;
		}
		form#adminForm {
			position: relative;
			.toggle-editor .btn {
				border: 1px solid #d1d6de;
				margin: 30px 0 0;
				color: #717f8e;
			}
			> .btn-toolbar {
				position: absolute;
				bottom: 0;
			}
		}
		#images .input-prepend.input-append {
			position: relative;
			display: inline-block;
			.modal.btn {
				position: absolute;
				display: inline-block;
				z-index: 1;
				max-width: 52px;
				border-width: 0 0 0 1px;
				border-color: #d3d3d3;
				border-style: solid;
				@include rtl-right(40px);
				top: 0;
				@include rtl-left(auto);
				padding: 7px 10px;
			}
		}
	}
	.j2store-product-edit-form {
		background: transparent;
		padding: 0 0 50px;
		.panel {
			border-radius: 0;
			box-shadow: none;
		}
		> hr {
			display: none;
		}
	}
	#editor-xtd-buttons {
		margin: 0 -15px 60px;
		a.btn {
			padding: 15px 10px;
		}
	}
}
/* ---------- Archive Article ----------- */
.archive {
	.filter-search {
		.btn {
			padding-bottom: 8px;
			padding-top: 8px;
		}
		> select {
			min-width: 80px;
		}
		.chzn-container {
			margin-right: 8px;
		}
	}
	.article-info-term {
		display: none;
	}
}
/* ---------- Administrator Components ----------- */
.article-index {
	.nav-tabs {
		border: 1px solid #d5d6d8;
		> li {
			> a {
				border-bottom: 1px solid #d5d6d8;
				border-width: 0 0 1px 0;
				border-radius: 0;
				margin: 0;
				color: #1f1f1f;
			}
			&.active {
				> a {
					&:hover, &:focus {
						border-width: 0 0 1px 0;
						border-radius: 0;
						background-color: #eee;
					}
				}
			}
		}
	}
	+ .articleBody {
		.pagenavcounter {
			margin-bottom: 10px;
			+ p {
				+ ul {
					padding-left: 15px;
					padding-right: 15px;
				}
			}
		}
	}
}
/* ---------- Tag Category ----------- */
.tag-category {
	form {
		fieldset {
			margin: 30px 0;
			button {
				padding: 8px 15px;
				&[name*="filter-"] i.fa {
					margin: 0;
				}
			}
			label.filter-search-lbl {
				display: block;
			}
			.form-group + .btn-group {
				margin-top: 27px;
			}
		}
	}
	> img {
		margin: 0 0 25px;
		display: block;
	}
	.category {
		padding: 0;
		li {
			list-style: none;
			h3 {
				margin-top: 0;
			}
			img {
				margin-bottom: 20px;
			}
		}
	}
	ul.thumbnails {
		padding: 0;
		li {
			list-style: none;
		}
	}
}
/* ---------- Comming Soon Page ----------- */
body {
	&.coming-soon {
		.search #mod-search-searchword {
			@include rtl-margin-right(6px);
		}
	}
}
.sw-fullheight-page {
	.sunfw-flex-component {
		height: 100vh;
	}
}
.jsn-counter-wrap {
	margin-top: 34px;
	position: relative;
	.info {
		.number {
			color: #fff;
			font-family: Lora;
			font-size: 68px;
			line-height: 109px;
			width: 109px;
			height: 109px;
			text-align: center;
			display: inline-block;
			position: relative;
			&:after {
				content: ":";
				width: 5px;
				color: #fff;
				position: absolute;
				right: -18px;
			}
		}
		.title {
			font-family: Lato;
			font-size: 25px;
			text-align: center;
			margin-top: 30px;
			display: block;
			color: #fff;
		}
	}
}
#events {
	> [class*="col-"]:last-child {
		.jsn-counter-wrap {
			.info {
				.number {
					&:after {
						display: none;
					}
				}
			}
		}
	}
}
/* ---------- Content Types ----------- */
.sunfw-link,
.sunfw-quote,
.sunfw-gallery,
.sunfw-video,
.sunfw-standard {
	margin-bottom: 18px;
}
.sunfw-link {
    background: #8b8b8b;
    padding: 30px 25px;
    text-align: left;
	h2 {
		margin: 0;
	}
	a {
		color: #fff;
		display: flex;
		align-content: center;
		align-items: center;
		i {
			font-size: 120px;
			line-height: inherit;
			background: transparent;
			width: 118px;
			height: 118px;
			@include rtl-margin-right(0);
			border-radius: 0;
			display: inline-block;
			float: none;
			position: relative;
			line-height: 125px;
			color: rgba(255,255,255,0.2);
			@include rtl-margin-right(-90px);
		}
	}
}
.sunfw-quote {
	@include rtl-border-left(3px solid #E9E9E9);
	padding: 25px;
	background: #F5F5F5 url(../../jsn_blank2/images/icon/blockquote.png) no-repeat calc(100% - 20px) 55px;
	.author {
		color: #1f1f1f;
		font-family: Roboto;
		font-size: 18px;
		font-weight: bold;
		line-height: 21px;
		font-style: normal;
		margin: 20px 0 0;
	}
}
/* ---------- Content Types ----------- */
#sunfw-social-share {
	a {
		display: inline-block;
		margin-left: 2px;
		margin-right: 2px;
		i.fa {
			font-size: 22px;
		}
	}
}
/* ---------- FIDEM2 OVERRIDES ----------- */
.aligncenter .sunfw-logo {
	img {
		margin: 0 auto;
	}
}

/*===============SECTION PROMO===============*/
.white-bg {
	.container {
		padding: 40px;
		background: #fff;
		border-bottom: 1px solid #d8dddf;
	}
	.row_promo {
		margin: 0;
		> [class*="col-"] {
			padding: 0;
		}
	}
}
.sunfw-homepage {
	#sunfw_section_content-bottom.white-bg {
		.container {
			padding: 0 15px;
		}
	}
}
.demo-homepage-slider {
.label_skitter {
	padding: 20px;
	z-index: 999;
	padding: 14px;
	background-color: rgba(0,0,0,0.7);
	.jsn-themeslider-caption-description {
		max-width: 80%;
		font-size: 1em;
		font-family: 'Lato', Georgia, serif;
		line-height: 1.5;
	}
}
.box_skitter {
	.prev_button, .next_button {
		//top: auto;
		//left: auto;
		width: 40px;
		height: 40px;
		z-index: 1111;
		font-size: 0;
		text-align: center;
		padding: 10px;
		z-index: 9;
		transition: all 0.25s ease-in-out;
		&:after {
			display: inline-block;
			font: normal normal normal 14px/1 FontAwesome;
			font-size: 14px;
			color: #fff;
			width: 20px;
			height: 20px;
			line-height: 20px;
		}
	}
	.prev_button {
		left: 20px;
		bottom: 25px;
		&:after {
			content: "\f104";
		}
	}
	.next_button {
		right: 20px;
		bottom: 25px;
		&:after {
			content: "\f105";
		}
	}
}
}

/*=============== SECTION MAINCONTENT ===============*/
//.sunfw-flex-component {
//	background: #fff;
//    padding: 40px 25px;
//	border-bottom: 1px solid #d8dddf;
//}


/*=============Latest update==========*/
div.custom-1st-tab {
padding: 0;
> nav > a {
  color: #1f1f1f;
  padding: 7px 30px;
  margin-right: -1px;
  font-weight: normal;
  background: #fff;
  border-bottom: none;
  @include transition(all 0.3s ease-in-out);
  border: 1px solid #D1D6DE;
  font-size: 16px;
  margin-top: 0 !important;
  margin-bottom: 0 !important;
  &[data-active="true"],
  &:hover {
	color: #fff;
	border: 1px solid transparent;
  }
  &:last-child {
	margin-right: 0;
  }
}
nav + div {
  padding: 20px 20px 19px;
  background: #fff;
  .tab_content {
	@include transition(all .3s ease-in-out);
  }
}
}
/*Receive our newsletter*/
.demo-newsletter {
  h3.box-title{
	color: #fff;
  }
  .jsn-uniform {
	padding: 30px 0 0;
	font-family: 'Lora', 'Lora', Georgia, serif !important;
	.control-group {
	  padding: 0 !important;
	}
	.jsn-bootstrap {
	  > p {
		color: #999;
		font-size: 15px;
		line-height: 27px;
		padding: 0;
	  }
	}
	.jsn-form-content {
	  .control-label {
		display: none !important;
	  }
	  input {
		border: none;
		padding: 10px;
		height: 50px;
		margin-top: 35px;
		margin-bottom: 0;
		border-radius: 0;
		color: rgba(255, 255, 255, 0.5) !important;
		background: rgba(255, 255, 255, 0.2) !important;
		box-sizing: border-box;
		-moz-box-sizing: border-box;
		-webkit-box-sizing: border-box;
	  }
	  .control-group.ui-state-highlight {
		background-color: transparent !important;
		border-color: transparent !important;
	  }
	}
	.jsn-text-center {
	  display: none !important;
	}
	.form-actions {
	  margin: 0 !important;
	  padding: 0 !important;
	  .btn-toolbar button[type="submit"] {
		margin-top: 20px;
		background: none;
		background-color: #cc4d3d;
		box-shadow: none;
		border: none;
		border-radius: 0;
		font-size: 16px;
		line-height: 27px;
		padding: 10px 20px;
		display: inline-block;
		font-family: 'Cinzel', 'Lora', Georgia, serif;
	  }
	}
  }
}
/*=============== SECTION FOOTER ===============*/
.row.container {
	margin-left: auto;
	margin-right: auto;
}
.jsn-uniform.jsn-master {
	.jsn-bootstrap {
		.form-horizontal {
			.control-label {
				float: left;
				width: 160px;
				padding-top: 5px;
				text-align: right;
			}
			.controls {
				*display: inline-block;
				*padding-left: 20px;
				margin-left: 180px;
				*margin-left: 0;
				&:first-child {
					*padding-left: 180px;
				}
				.ui-datepicker-trigger {
					vertical-align: bottom;
				}
				.radio, .checkbox {
					@include rtl-padding-left(20px);
				}
			}
		}
	}
}
#submission-fields-list .jsn-item, #form_field .jsn-item {
	padding: 5px 5px 5px 25px;
}
#submission-fields-list input {
	margin: 0px 5px 0 -20px;
}
#submissions-list #limit {
    min-height: 39px;
}
#submission-fields-list .form-actions .btn {
    float: none;
    margin: 10px 15px;
}
.jsn-bootstrap .icon-search:before {
	content:"";
}
.jsn-bootstrap .icon-calendar:before {
	content:"";
}
.blog-featured {
	.table.category {
		table-layout: fixed;
	}
}