nav.navbar.sunfw-menu-head {
    background: transparent;
    border-color: transparent;
    border-radius: 0;
    border: none;
    margin-bottom: 0;
	@media (min-width: 768px) {
		margin-top: -85px;
	}
    .navbar-collapse{
        padding: 0;
    }
    ul.navbar-nav{
		float: none;
		display: flex;
		
		justify-content: center;
        > li{
            transition: 0.3s ease-in-out;
			padding-top: 0;
			padding-bottom: 0;
			float: none;
            &.parent span.caret{
              @include rtl-margin-left(8px);
            }
            &.parent:hover > a{
                border-radius: 3px 3px 0 0;
            }
            ul.dropdown-menu {
              padding: 11px 0 8px;
              span.caret{
                display: inline-block;
                float: right;
              }
            }
            > span.nav-header,
			> a {
                &:not(.get-it){
					padding: 32px 30px;
				}
                @media (min-width: $screen-sm-min) {         
                    &.get-it{                  
                        padding: 7px 35px;
                        @include rtl-margin-left(30px);
						text-transform: none !important;
						font-family: Lato !important;
						font-size: 14px !important;
						&:not(.btn-outline) {
							color: #fff;
							&:hover {
								color: #fff;
							}
						}
						&.btn-outline:hover {
							background-color: #8596a9;
							color: #394A5C;
							box-shadow: none;
						}
                    } 
                }
				> span:not(.caret) {
					display: inline-block;
					vertical-align: top;
				}
            }
			> span:not(.caret):not(.get-it).nav-header {
				display: inline-block;
				position: relative;
				padding: 0 40px 0 20px;
				.menudescription {
					display: block;
					padding: 0 26px;
				}
				.caret {
					position: absolute;
					@include rtl-right(20px);
					top: 9px;
				}
			}
            a {
                line-height: 21px;
				color: #1f1f1f;
            }
			&:focus,
			&:hover,
			&.active {
				> a.get-it.btn:not(.btn-outline) {
					color: #fff !important;
					box-shadow: none;

				}
			}
			&.active {
				> a,
				> a:focus {
					background-color: transparent;
					box-shadow: none;
				}
			}
			> .nav-header {
				font-size: 18px;
				color: #fff;
				text-transform: uppercase;
				font-family: 'Lora';
			}
        }
        ul.dropdown-menu{
            border-radius: 0;
            z-index: 999;
            //margin-left: 1px;
			box-shadow: 0 8px 10px 0 rgba(0, 0, 0, 0.08);
            li {
                transition: all 0.3s ease-in-out;
                padding: 0;
                background: inherit;
                a {
                    padding: 8px 20px;
					font-family: Lora;
                    &:hover{
                        background: transparent;
                    }
                }
            }            
        }
    }
}
.nopl-firstitem nav.navbar.sunfw-menu-head ul.navbar-nav > li {
	&:first-child {
		> span.nav-header,
		> a {
			&:not(.get-it){
				@include rtl-padding-left(0);
			}
		}
	}
}
.megamenu.full-width ul.sunfw-megamenu-sub-menu ul{
    width: 100% !important;
}
.dropdown-menu{
    box-shadow: none;
    border: none;
}
.icons .dropdown-menu {
   border: 1px solid #d1d6de;
    border-radius: 0;
}
/* ===== MOBILE MENU ===== */
@media (max-width: $screen-xs-max) {
    .col-menu{
        padding-left: 0px;
        padding-right: 0px;
    }
	nav.navbar.sunfw-menu-head ul.navbar-nav > li ul.dropdown-menu {
		padding: 0;
	}
	nav.navbar.sunfw-menu-head ul.navbar-nav > li a {
		color: #fff;
	}
    .sunfw-menu-head .navbar-header {
        background: #303030;
		margin: 0 -15px;
        button.navbar-toggle{
			margin: 0;
            padding: 13px 16px;
            outline: none;
			box-shadow: none;
            i {
                display: block;
                color: #fff;
				font-size: 24px;
            }
            &:hover,&:focus {
                background: transparent;
				box-shadow: none;
            }            
        }
    }
	
    .sunfw-menu {
        position: relative;
        z-index: 999;
		border: none;
    }
    ul.sunfw-tpl-menu {
        &.navbar-nav {
          margin: 0;
          float: none !important;
        }
        > li {
            > a:not(.get-it),
			> span.nav-header {
                border-bottom: 1px solid #303030;
            }
            a{
                &.dropdown-toggle{
                    position: relative;
                }
            }
			> a {
                padding: 11px 15px !important;
			}
            ul {
                padding: 0;
                -webkit-box-shadow: none !important;
                box-shadow: none !important;
                display: none !important;
                position: relative !important;
                ul{
                    padding: 0 20px;
                }
                &.menuShow {
                    float: none;
                    display: block !important;
                    width: 100%;
					background: #1F1F1F;
					li a {
						color: #fff !important;
						border-bottom: 1px solid #303030;
					}
                }
                li{
                    padding-left: 20px;
					a {
						padding: 0 10px;
					}
                }
            }  

        }
    } 
    .sunfw-sticky.sunfw-sticky-open .sunfw-menu ul.sunfw-tpl-menu.navbar-nav { 
        //max-height: 480px; // IMPORTANT, DONT'T REMOVE      
    }
	nav.navbar.sunfw-menu-head ul.navbar-nav ul.dropdown-menu li {
		a {
			padding: 8px 25px;
		}
	}
    .navbar-default .navbar-nav > .active > a:hover, .navbar-default .navbar-nav > .active > a:focus {
        background: transparent;
    }
    #sunfw-wrapper .sunfw-menu ul.dropdown-menu,ul.sunfw-megamenu-sub-menu{     
        li a {
            &:hover, &:focus, &.current {   
                background-color: transparent;
            }
        }
    }
    .sunfw-menu ul.dropdown-menu,ul.sunfw-megamenu-sub-menu ul{
        width: 100% !important;
    }

    body.sunfw-direction-rtl ul.sunfw-tpl-menu > li.dropdown-submenu ul li:hover > ul {
        right: 0 !important;
    }
}

@media (min-width: $screen-sm-min) {
    //SUB MENU
    ul.sunfw-tpl-menu {
        display: -webkit-box;  /* OLD - iOS 6-, Safari 3.1-6, BB7 */
        display: -ms-flexbox;  /* TWEENER - IE 10 */
        display: -webkit-flex; /* NEW - Safari 6.1+. iOS 7.1+, BB10 */
        display: flex;
        -webkit-box-align: center;       
        -ms-flex-align: center;
        -webkit-align-items: center;
        align-items: center;
        flex-wrap: wrap;
        > li.dropdown-submenu {
            ul {
                border: 1px solid #D1D6DE;
                margin: 0;
                //padding: 0;
                position: absolute;
                width: 200px;
                left: auto;
                display: none;
                list-style: none;
                @include rtl-text-align-left();
                li {                    
                    position: relative;
                &:hover {
                  > ul {
                    top: 0;
                    @include rtl-left(100%);
                  }
                }
                a {                                
                  position: relative;
                  &:hover {
                    background: transparent;
                  }
                }
                &:last-child {
                  a:before {
                    display: none;
                  }
                }
              }
            }
            li.dropdown-submenu {
                .dropdown-menu {
                    display: none;
                    @include opacity(0);
                    @include transition(opacity .4s ease);
					margin-top: -1px;
                    top: -11px;
                }
                &:hover {
                    > .dropdown-menu {
                        display: block;
                        @include opacity(1);
                    }
                }
            }
        }
        ul li.parent a span.caret {
            border-bottom: 4px solid transparent;
            border-top: 4px solid transparent;
            @include rtl-border-left(4px dashed);
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
            @include rtl-right(10px);
        }
    }

    .sunfw-direction-rtl ul.sunfw-tpl-menu > li.megamenu ul.sunfw-megamenu-sub-menu .sunfw-item .module-style > div > ul li:hover > ul{
        right: 100%;
        left: auto;
    }
    //.navbar-default ul.sunfw-tpl-menu > li.dropdown-submenu li.dropdown-submenu > .dropdown-menu {
    //    transform: translateX(0);
    //    transition: all 0.3s ease-in-out;
    //    position: absolute;
    //    @include rtl-left(0);
    //    z-index: -1;
   //}
    //.navbar-default ul.sunfw-tpl-menu > li.dropdown-submenu li.dropdown-submenu:hover > .dropdown-menu {
    //    z-index: -1;
    //}
    //.navbar-default ul.sunfw-tpl-menu > li.dropdown-submenu li.dropdown-submenu:hover > .dropdown-menu {
    //    transform: translateX(calc(100% - 2px));
    //}
    // FLIPBACK - RTL FLIPBACK
    ul.sunfw-tpl-menu .sunfw-submenu-flipback {
        ul {
            right: 0;
            left: auto !important;
            ul {
                right: 100%;
            }
            &.dropdown-menu {
                @include rtl-text-align-right();
                .caret {
                    @include rtl-left(5px);
                    border-right: 4px dashed;
                    border-left: 0;
                }
            }
        }
        > ul.sunfw-megamenu-sub-menu{
            right: 0 !important;
        }
        ul li:hover > ul {
            left: auto !important;
            right: 100%;
        }
        &.center {
            position: static;
            > ul {
                width: 100% !important;
                @include rtl-left(0);
                @include rtl-translateX(0);
            }
        }
    }


    .sunfw-direction-rtl ul.sunfw-tpl-menu {
        .sunfw-submenu-flipback ul li:hover > ul{
            left: 100% !important;
            right: auto !important;
        }
        .sunfw-submenu-flipback > ul.sunfw-megamenu-sub-menu{
            left: 0 !important;
            right: auto !important;
        }
        > li.dropdown-submenu.sunfw-submenu-flipback li.dropdown-submenu .caret{
            right: 5px;
            left: auto;
            border-left : 4px dashed;
            border-right: none;
        }
    }

}
@media (min-width: $screen-sm) and (max-width: $screen-sm-max) {
	nav.navbar.sunfw-menu-head {
		ul.navbar-nav {
			> li > a {
				&:not(.get-it) {
					padding-left: 11px;
					padding-right: 11px;
				}
				&.get-it {
					@include rtl-margin-left(7px);
				}
			}
		}
	}
}
@media (max-width: $screen-xs-max) {
	nav.navbar.sunfw-menu-head {
		ul {
			&.navbar-nav {
				> li {
					> a {
						padding-left: 12px;
						padding-right: 12px;
						&.get-it {
							&:not(.btn-outline) {
								color: #fff;
							}
						}
					}
				}
			}
		}
	}
}

/* ===== ANIMATION MENU ===== */
@media (min-width: $screen-sm) {
.sunfwMenuFading, .sunfwMenuSlide {
    .sunfw-megamenu-sub-menu, .dropdown-menu {
        display: none;
    }
}
.sunfwMenuFading {
    ul.sunfw-tpl-menu li {
		&.dropdown-submenu {
			ul {
				display: block !important;
				opacity: 0;
				visibility: hidden;
				transition: 0.3s !important;
			}
			&:hover > ul {
				opacity: 1;
				visibility: visible;
				transition-delay: 0.3s !important;
			}
			ul li > ul {
				top: 0;
				left: 100%;
			}
		}
		&.megamenu {
			> ul {
				display: block !important;
				opacity: 0;
				visibility: hidden;
				transition: 0.3s !important;
			}
			&:hover > ul {
				opacity: 1;
				visibility: visible;
				transition-delay: 0.3s !important;
			}
		}
	}
}
.sunfwMenuNoneEffect {
    ul.sunfw-tpl-menu {
        > li {
            > ul {
                display: none;
            }
            &:hover {
                > ul {
                    display: block;
                }
            }
        }
    }  
}
}