.layout-item .items-row {
    margin-bottom: 30px;
}
.ytp-chrome-top.ytp-share-button-visible {
	display: none;
}
.readmore {
    margin-top: 5px;
}
.sunfw-link, .sunfw-quote, .sunfw-gallery, .sunfw-video, .sunfw-standard {
    margin-bottom: 13px;
}
.article-info[class*="mut"] {
	margin-bottom: 5px;
}
div.pagination ul.pagination li {
    padding: 0;
}
body .heading-divider > span {
    margin: -1px 30px 0;
    line-height: 29px;
}
.sunfw-pos-usertop {
	.module-style {
		margin-bottom: 40px;
	}
}
body.sunfw-view-article {
	.hidden-article {
		display: none;
	}
}
.text-main-color {
	&:hover,
	span:hover {
		color: #1f1f1f !important;
	}
}
[class*="eb-event"] .eb-taskbar li:not(:last-child) .btn.btn-default {
    padding: 8px 30px;
}