/*!
 * Sun Framework
 * Copyright 2016 Joomlashine.
 * @file _pagination.scss
 */

div.pagination {
	display: flex;
    justify-content: space-between;
    margin: 25px 0;
	align-items: center;
	p.counter{
		font-size: 12px;
	}
	ul.pagination {
	  margin: 0 -5px;
	  padding: 0;
	  li {
	    display: inline-block;
	    a {
			font-size: 12px;
			line-height: 14px;
			border-radius: 0;
			border: 1px solid #D1D6DE;
			padding: 0px 8px;
			margin: 0 5px;
			color: #1f1f1f;
			min-width: 35px;
			height: 35px;
			text-align: center;
			line-height: 32px;
			&:hover {
				color: #fff;
				border: 1px solid transparent;
	      }
	    }
	    &.active {
	      a {
	        color: #fff;
	        border: 1px solid transparent;
	      }
	    }
	    &.disabled a{
	    	color: #b8c2cc;
	    	&:hover {
	    		border-color: transparent;
				color: #fff;
	    	}
	    }
	  }
	}
}
#search-results {
	div.pagination ul.pagination {
		margin: 15px -5px;
		padding: 0;
	}
}
.pager {
	margin: 25px 0 30px;
	li {
		> a, > span {
			border-radius: 0;
		}
	}
}