@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,600,700');
body {
	&.no-layout {
		background: #141517;
		a {
			color: #00A0FF;
		}
		hr {
			margin-top: 30px;
			margin-bottom: 26px;
			border-top: 1px solid #ddd;
		}
		p {
			color: #394A5C;
			font-family: Roboto;
			font-size: 14px;
			line-height: 16px;
		}
		#content{
			padding: 30px 0;
		}
	}
}
.body {
	height: 100vh;
	position: relative;
}
.container {
    margin-right: auto;
    margin-left: auto;
}
.jsn-error.container {
	.jsn-error-inner {
	}
	.page-header {
		margin: 0 0 30px;
		padding-bottom: 18px;
	}
}
.jsn-error .well {
	border: 0;
	border-radius: 0;
	background-color: transparent;
	box-shadow: none;
	padding: 0;
	margin-bottom: 0;
	border-radius: 0;
	blockquote {
		border-color: #8596A9;
		padding: 0;
		background: no-repeat;
		display: flex;
		align-content: center;
		margin: 0;
		font-size: 14px;
	}
}
.jsn-error {
  h1,h2,h3 {
	font-family: Roboto;
    font-weight: 700;
    line-height: 1.5;
    color: #394a5c;
    letter-spacing: 0px;
	margin-top: 0;
	margin-bottom: 0;
  }
  h1 {
	font-size: 28px;
  }
  h2.page-header {
	font-size: 22px;
	padding-bottom: 20px;
  }
  h3 {
	font-size: 19px;
	padding-bottom: 20px;
  }
  .content-inner {
	p {
		color: #4d4d4d;
		font-family: 'Open Sans', sans-serif;
		font-size: 18px;
		margin: 0 0 5px;
	}
  }
  .jsn-search {
    input.form-control {
        border: none;
		border-radius: 0;
		box-shadow: none;
		height: auto;
		line-height: 22px;
		padding: 12px 10px;
		width: 100%;
		font-family: 'Open Sans', sans-serif;
		font-size: 15px;
		color: #c8c8c8;
		background: #f5f5f5;
    }
  }
  .btn.btn-default {
	background-color: #717f8e;
    font-size: 14px;
    color: #fff;
	border-radius: 0;
	padding: 15px 30px;
	border: none;
  }
  .goto-home {
	  margin: 22px 0 0;
	a {
	font-family: 'Open Sans', sans-serif;
	font-size: 17px;
	color: #6bcecb;
	}
  }
  ul {
	padding: 0 25px;
	li {
		line-height: 21px;
		margin: 10px 0;
		list-style-type: square;
	}
  }
  .label {
	  border-radius: 5px;
	  background-color: #4E6176;
	  margin: 0 5px;
	  line-height: 16px;
  }
}
.jsn-error-page #content{
	height: 100vh;
	background-image: url('../images/404.png');
	background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    .content-inner{
    	h4.jsn-error-text{
    		font-size: 36px;
			color: #a9a9a9;
			margin-top: 0;
			line-height: 41px;
			margin-bottom: 16px;
    	}
    	.jsn-error-name{
			font-size: 18px;
			color: #a9a9a9;
			line-height: 27px;
			margin-bottom: 8px;
    	}
    	.jsn-error-text-desc{
    		font-size: 14px;
    		color: #3a3c44;
    		line-height: 21px;
    		margin-bottom: 32px;
    	}
    	.goto-home{
    		a{
    			padding: 16px 30px;
			    border-radius: 2px;
				border: none;
				font-weight: bold;
				font-size: 12px;
				text-transform: uppercase;
				box-shadow: 0 1px 5px 0 rgba(20, 21, 23, 0.5);
				transition: all 0.3s ease-in-out;
				color: #fff;
				background-color: #c43c3f;
				display: inline-block;
				&:hover{
					background-color: #9c2f32;
				}
    		}
    	}
    }
}
.jsn-error{
	.footer, .jsn-error-page{
		display: none;
	}
}
@media (max-width: 480px) {
	.jsn-error.container {
		position: static;
		left: auto;
		top: auto;
		transform: none;
		[class*="col-"] {
			padding-left: 0;
			padding-right: 0;
		}
	}
	
}