// ======================================
// ------------ GENARAL -----------------
// ======================================

$page-border: none !default;

$page-box-shadow: none !default;


html {
	position: relative;
	min-height: 100%;
}

body {
	height: 100%;
	overflow-x: hidden;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	a {
		transition: all 0.3s ease-in-out;
	}
}
hr{
	border-top: 1px solid #2a2d32;
}
picture{
	    width: 100%;
	img{
		width: 100%;
	}
}
.sw-header {
	position: relative;
	z-index: 999;
}
.content-center {
	text-align: center;
	margin-top: 10px;
}
.bg-2nd-subcolor{
	.bg-main-color{
		background-color: #fff !important;
		&:hover{
			background-color: #f4f4f4 !important;
		}
	}	
}
.sunfw-main-body{
	.layout-item{
		padding: 32px 20px;
		background-color: #232428;
		border: solid 1px #2a2d32;
	}
}
.sunfw-quick-tour{
	.sunfw-main-body{
		.layout-item{
			padding: 0;
			background-color: transparent;
			border: 0;
		}
	}
	.sunfw-section.main-body{
		padding-bottom: 65px;
	}
}
.coming-soon{
	.sunfw-main-body .layout-item{
		background: transparent;
		padding: 0;
		border: 0;
	}
	.sunfw-section.main-body{
		padding: 0;
	}
}
.sunfw-view-search{
	.sunfw-main-body{
		.layout-item{
			padding: 32px;
		}
	}
}
.sunfw-com-users{
	.sunfw-main-body{
		.layout-item{
			padding: 32px 20px;
		}
	}
}
.sunfw-about-us{
	.sunfw-main-body{
		.layout-item{
			background: transparent;
			border:none;
			padding: 0;
		}
	}
}
.no-background-article{
	.sunfw-main-body{
		.layout-item{
			padding: 0;
			background-color: transparent;
			border: 0;
		}
	}
}
.sunfw-homepage,
.sunfw-blue-color,
.sunfw-green-color,
.sunfw-purple-color,
.sunfw-yellow-color,
.sunfw-turqouise-color,
.sunfw-red-color{
	.layout-item{
		padding: 0;
	    background-color: transparent;
	    border: 0;
	}
	.sunfw-section.main-body{
		padding: 0;
	}
}
.sunfw-blue-color{
	.cta-btn-download{
		box-shadow: 0 0 20px 0 #478ca8 !important;
	}
}
.sunfw-green-color{
	.cta-btn-download{
		box-shadow: 0 0 20px 0 #3c9632 !important;
	}
}
.sunfw-purple-color{
	.cta-btn-download{
		box-shadow: 0 0 20px 0 #912fa5 !important;
	}
}
.sunfw-yellow-color{
	.cta-btn-download{
		box-shadow: 0 0 20px 0 #a98d34 !important;
	}
}
.sunfw-turqouise-color{
	.cta-btn-download{
		box-shadow: 0 0 20px 0 #2f8da5 !important;
	}
}
.sunfw-section.main-body{
	padding: 80px 0;
} 
// Row Flex
.sunfw-flex {
    display: -webkit-flex !important;
    display: flex !important;
    flex-wrap: wrap;        
    &.flex-items-middle {
        align-items: center;
        -webkit-align-items: center;
    }
    &.flex-items-top {
        align-items: top;
        -webkit-align-items: top;
    }
    &.flex-items-bottom {
        align-items: bottom;
        -webkit-align-items: bottom;
    }
    &.flex-items-right{
    	justify-content: flex-end;
    }
    //fix for safari
    &:before, &:after{
    	display: none;
    }
}

#{$brand-prefix}content {
	height: 100%;
	@include transition(all .3s);
}

img {
	max-width: 100%;
}
.sunfw-scrollup {
	background-color: rgba(113,127,142,0.5);
	display: none;
	position: fixed;
	bottom: 30px;
	right: 30px;
	color: #999;
	z-index: 10000;
	padding: 18px 47px;
	transition: color 0.3s linear, background 0.3s ease-in-out;
	-moz-transition: color 0.3s linear, background 0.3s ease-in-out;
	-webkit-transition: color 0.3s linear, background 0.3s ease-in-out;
	text-align: center;
	i {
		font-size: 20px;
	}
	&:hover {
		text-decoration: none;
		color: #fff;
	}
	&.position-center {
		left: 50%;
	 	-webkit-transform: translateX(-50%);
	    -ms-transform: translateX(-50%);
	    transform: translateX(-50%);   
		bottom: 0;
		right: auto;
	}
	&.position-left {
		left: 30px;
		right: auto;
	}
}
.sunfw-switcher a.btn{
	padding: 5px 10px;
	margin-bottom: 1px;
	color: #000;
	border-radius: 0;
	&.active,&:active{
		box-shadow: none;
		border-bottom: 1px solid #000;
	}
}
.chzn-container-single {
    .chzn-single {
		height: 35px;
		border-radius: 0;
		line-height: 35px;
		padding-left: 8px;
		padding-right: 8px;
	}
}
.control-group select{
	background-color: #1a1b1e;
    border: solid 1px #2a2d32;
    min-width: 360px;
}
fieldset {
	margin-bottom: 20px;
}
.sample-module {
	margin-top: 30px;
}
.sample-module-2{
	margin-bottom: 30px;
}
.home-about-us{
	.item{
		.block-icon{
			> i{
				transition: .3s all;
				-webkit-transition: .3s all;
				-o-transition: .3s all;
				-moz-transition: .3s all;
				&:hover{
					cursor: pointer;
					background-color: #fff !important;
				}
			}
			> a{
				transition: .3s all;
				-webkit-transition: .3s all;
				-o-transition: .3s all;
				-moz-transition: .3s all;
				&:hover{
					cursor: pointer;
					background-color: #fff !important;
				}
			}
		}
	}
}
.home-feature{
	.item{
		transition: .3s all;
		-webkit-transition: .3s all;
		-moz-transition: .3s all;
		-o-transition: .3s all;
	}
}
/* ---------- Search Page ----------- */
form#searchForm{
	border: none;
	padding: 0;
	.searchintro{margin: 25px 0 10px;}
	fieldset{
		margin-top:15px;
		+ fieldset.only {
			margin-top: 35px;
		}
		legend{
			padding-bottom: 8px;
			margin-bottom: 8px;
			padding-top: 8px;
		}
		label.radio, label.checkbox {
			margin-top: 20px;
			margin-bottom: 20px;
		}
		label input{
			display: inline-block;
			position: inherit;
			margin: -3px 6px 0 0;
			vertical-align: middle;
		}
		.ordering-box {
			padding-top: 12px;
		}
	}
	p.counter{ padding: 10px 0;}
	.chzn-container-single {
		display: block;
		margin: 5px 0 0;
	}
}
dl.search-results{
	margin: 10px 0;
	padding: 0;
	dt.result-title{
		padding-top: 5px;
		color: #fefefe;
	}
	.result-category {
		margin: 3px 0 10px;
		color: #fefefe;
	}
	.result-created {
		margin-bottom: 22px;
	}
}
.chzn-container-single .chzn-single {
	border-radius: 2px;
    box-shadow: none;
    background: #1a1b1e;
    border-color: #2a2d32;
	height: 33px;
    line-height: 33px;
	div b {
		margin: 5px 0;
	}
}
.chzn-container-single .chzn-single span{
	@include rtl-margin-right(0);
}

.sunfw-sticky.sunfw-sticky-open {
	background: #FFF;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	right: 0;
	z-index: 999;
	.sunfw-menu-head.navbar-default {
		margin-top: 0;
	}
}
.search {
	#searchForm .chzn-container-single-nosearch {
		min-width: 250px;
	}
	div.pagination{
		flex-direction: row;
	}
}
#finder-search {
	button.btn {
		padding: 7px 16px 10px;
		@include rtl-margin-left(5px);
		vertical-align: top;
		+ a[href="#advancedSearch"] {
			padding: 10.5px 16px;
			vertical-align: top;
			&:hover{
				background-color: #303134;
			}
		}
	}
	.finder-selects {
		margin: 0 0 24px;
		.control-label {
			margin-bottom: 8px;
			color: #fefefe;
		}
	}

	.word{
		label{
			margin-right: 15px;
			color: #fefefe;
		}
	}
	.chzn-container{
		min-width: 252px;
		.chzn-container-single .chzn-single{
			min-width: 252px;
		}
	}
	fieldset {
		margin-bottom: 0;
	}
	#advancedSearch {
		#search-query-explained {
			padding: 0;
		}
		#finder-filter-window .field-calendar {
			margin-top: 10px;
		}
	}
	#search-query-explained span.term{
		color: #fefefe;
	}
}
div#finder-filter-window .filter-branch .finder-selects {
	float: none;
}
/* ============ Top ============ */
.sunfw-pos-top {
	padding: 30px 0;
}
/* ============ PROMO ============ */


/* ============ MAINCONTENT ============ */
/* ---------- Article Category Blog ----------- */
.page-header {
	padding: 0;
	margin: 0;
	border-bottom: none;
	clear: both;
	h2 {
		margin-bottom: 10px;
		font-size: 24px;
		a {
			color: #fefefe;
		}
	}
}
.article-info[class*="mut"] {
    margin: 5px -5px 32px;
	color: #a9a9a9;
	font-size: 12px;
	dd {
		display: inline-block;
		padding: 0 5px;
		line-height: 22px;
		margin: 0;
		&:first-child {
			@include rtl-padding-right(0);
		}
		i.fa {
			@include rtl-margin-right(6px);
		}
	}
	+ .content_rating + form {
		margin-bottom: 20px;
	}
	dt.article-info-term{
		padding-left: 5px;
	}
}
.items-row{
	.article-info[class*="mut"]{
		margin-bottom: 20px;
	}
}
.icons {
	.btn-group {
		.btn.dropdown-toggle {
			padding: 0;
			.caret {
				@include rtl-margin-left(5px);
			}
		}
		&.open {
			.btn.dropdown-toggle {
				box-shadow: none;
			}
		}
	}
}
.layout-item {
	.items-leading {
		[class*="leading-"] {
			overflow: hidden;
		}
	}
	
}
.items-more {
	margin: 60px 0 0;
    clear: both;
	.nav-tabs {
		border-color: #2a2d32;
		> li {
			> a {
				padding: 0 0 18px;
				margin: 0;
				border: none;
				color: #a9a9a9;
				&:hover {
					background: transparent;
				}
			}
		}
	}
}
.content_rating {
    display: flex;
    align-items: center;
	@include rtl-float-right();
	margin: 10px 0px;
	p {
		margin: 0;
		@include rtl-margin-right(10px);
	}
	+ form {
		input[name="submit_vote"] {
			color: #fff;
		}
		.content_vote {
			display: flex;
			align-content: center;
			align-items: center;
			label {
				@include rtl-margin-right(5px);
			}
			input.btn{
				margin-left: 10px;
				font-weight: normal;
			    text-transform: none;
			    font-size: 14px;
			}
			select{
				width: 85px;
			}
		}
	}
}
.blog-featured,
.blog {
	.items-row{
		.item-image {
			margin-bottom: 20px;
		}
		.readmore{
			margin-top: 20px;
		}
		h2.item-title{
			margin-bottom: 5px;
		}
		.page-header h2{
			margin-bottom: 5px;
		}
	}
	.items-leading{
		.item-image {
			margin-bottom: 32px; 
		}
	}
	.intro-text{
		p{
			margin-bottom: 0;
		}
	}
	.entry-content{
		p{
			margin-bottom: 0; 
		}
	}
	.entry-content {
		clear: both;
	}
	h2.item-title {
		margin-top: 0;
		font-size: 18px;
		font-weight: bold;
		a {
			color: #fefefe;
		}
	}
	.content_rating {
		margin: 32px 0 15px;
	}
}
.readmore {
	margin: 32px 0 0;
	@include rtl-float-left();
	a{
		padding: 10.5px 16px;
		font-weight: bold;
		text-transform: uppercase;
		color: #fff;
		font-size: 12px;
		box-shadow: 0 1px 5px 0 rgba(20, 21, 23, 0.5);
	}
}
.blog{
	.items-leading{
		padding: 30px 20px;
		background-color: #232428;
		border: solid 1px #2a2d32;
		margin-bottom: 15px;
	}
}
.content_rating{
	img{
		width: 13px;
		height: 13px;
	}
}
.blog-featured, .blog{
	.items-leading{
		padding: 30px 20px;
		background-color: #232428;
		border: solid 1px #2a2d32;
		margin-bottom: 15px;
		.item-title{
			font-size: 24px;
		}
	}
	.items-row{
		margin: 0 -7.5px;
		.item{
			padding: 0 7.5px;
			.box-item{
				padding: 20px;
				background-color: #232428;
				border: solid 1px #2a2d32;
				margin-bottom: 15px;
			}
		}
	}
}
/* ---------- Article Category List ----------- */
.content-category {
	.page-header {
		padding-top: 15px;
	}
	.category-desc {
		+ form {
			fieldset.btn-toolbar {
				margin-bottom: 30px;
				margin-top: 30px;
				border-top: 1px solid #E7EAEE;
				padding-top: 30px;
				@include rtl-margin-left(0);
				label {
					@include rtl-margin-right(5px);
				}
			}
			table {
				td[headers="categorylist_header_date"] {
					font-size: 100%;
				}
			}
		}
	}
	.cat-children {
		margin: 20px 0 0;
		h3.page-header {
			padding: 0 0 15px;
			border-bottom: 1px solid #2a2d32;
			margin-bottom: 20px;
			margin-top: 20px;
		}
		h1{
			font-size: 24px;
		}
	}
}
.badge {
    padding: 4px 0;
    font-size: 14px;
    font-weight: normal;
    color: #fefefe;
    background-color: transparent;
    border-radius: 0;
    border: none;
    line-height: 15px;
    display: block;

}
/* ---------- Article Categories ----------- */
.categories-list {
	.page-header {
		margin-bottom: 10px;
	}
	div:not(.base-desc) {
		margin: 32px 0 0;
	}
	div.first{
		margin: 0;
	}
}
.cat-children,
.categories-list {
	.item-title.page-header {
		padding-bottom: 20px;
		border-bottom: 1px solid #2a2d32;
		margin-bottom: 20px;
		font-weight: bold;
    	font-size: 18px;
		position: relative;
	}
	div.category-desc {
		margin: 20px 0 10px;
		+ div.collapse {
			@include rtl-padding-left(30px);
		}
	}
	.badge {
		border: none;
		background: transparent;
		border-radius: 0;
		font-size: 14px;
		padding: 10px 0 0;
		display: block;
		text-align: left;
		font-size: 12px;
		color: #a9a9a9;
		@include rtl-margin-left(0);
	}
	a[data-toggle="collapse"] {
		padding: 0;
		border-radius: 100%;
		position: absolute;
	    right: 0;
	    top: 22%;
		&:active {
			box-shadow: none;
		}
	}
	a {
		.icon-plus:after,
		.icon-minus:after {
			display: inline-block;
			font: normal normal normal 14px/1 FontAwesome;
			font-size: inherit;
			text-rendering: auto;
			font-size: 10px;
			width: 18px;
			height: 18px;
			background-color: #a9a9a9;
			color: #141517;
			line-height: 18px;
			border-radius: 100%;
		}
		.icon-minus:after {
			content: "\f068";
		}
		.icon-plus:after {
			content: "\f067";
		}
		&[aria-expanded="true"] {
			.icon-plus:after {
				content: "\f068";
			}
		}
	}
}
.cat-children {
	> h3 {
		font-size: 24px;
	}
	> div {
		margin-bottom: 20px;
	}
}
/* ---------- Single Article ----------- */
button.btn {
	.icon-calendar {
		display: inline-block;
		font: normal normal normal 14px/1 FontAwesome;
		font-size: inherit;
		text-rendering: auto;
		&:after {
			content: "\f073";
			font-size: 14px;
		}
	}
}
.item-page {
	.item-image {
		margin-bottom: 20px;
	}
	.articleBody {
		clear: both;
		p {
			margin-bottom: 15px;
		}
		.alert p:last-child {
			margin-bottom: 0;
		}
		h3{
			font-size: 16px;
		}
	}
	.article-index[class*="pull-"] + .articleBody {
		clear: none;
	}
	&.edit {
		fieldset{
			border: solid 1px #2a2d32;
			background-color: #1a1b1e;
			padding-bottom: 32px;
			#com-content-formTabs {
				margin-bottom: 32px;
				background-color: #232428;
				border-bottom: solid 1px #2a2d32;
				> li {
					padding: 0;
					> a {
						padding: 12px 20px;
						border-radius: 0;
						color: #a9a9a9;
						border-width: 0 1px 0 0;
						border-style: solid;
						border-color: #2a2d32;
						margin: 0;
						border-bottom: 2px solid transparent;
					}
					&.active {
						> a {
							background: rgba(0,0,0,0.24);
							border-width: 0px 1px 0 0;
							color: #a9a9a9;
						}
					}
				}
			}	
		}
		.tab-content{
			padding: 0 20px;
		}
		#editor {
			> .control-group {
				.control-label {
				}
				.controls{
					input{
						width: 100%;
					}
				}
			}
			p.label{
				padding-left: 0;
			    margin-bottom: 10px;
			    text-align: left;
			    display: block;
			    margin-top: 32px;
			}
			.mce-container-body{
				background-color: #fff;
			}
			.js-editor-tinymce, 
			.js-editor-none,
			#pb-placeholder{
				margin-top: 32px;
			}
			#pb-placeholder{
				h3{
					color: #000;
				}
			}
		}
		.control-group {
		    display: block;
			align-content: center;
			align-items: center;
			margin: 0 0 16px;
			label {
				@include rtl-margin-right(10px);
				margin-bottom: 8px;
			}
		}
		.js-editor-tinymce {
			.mce-edit-area {
				border-color: #d5d6d8;
			}
			.mce-panel {
				border-color: #2a2d32;
				background-color: #1a1b1e;
			}
		}
		.sunfw-media-selector {
			input {
				+ .btn {
					    padding: 6px 15px 10px;
					vertical-align: top;
					line-height: 1.4;
					margin-left: 5px;
				}
			}
		}
		#attrib-sunfw-options {
			margin-bottom: 50px;
			overflow: hidden;
		}
		#com-content-formContent #images,
		#publishing {
			margin-bottom: 58px;
			.control-label {
				flex: 0 0 15%;
			}
			.chzn-container-multi .chzn-choices {
				border-color: #2a2d32;
				background: transparent;
				height: 33px;
			    line-height: 33px;
			    border-radius: 2px;
			    padding: 0 5px;
			}
			button.btn {
				padding: 8px 15px;
				vertical-align: top;
				line-height: 1.4;
			}
		}
		#metadata {
			margin-bottom: 58px;
			.control-label {
				flex: 0 0 15%;
			}
			.controls{
				textarea{
					width: 100%;
				}
			}
		}
		#language {
		margin-bottom: 58px;
			.control-group {
				margin-bottom: 10px;
			}
		}
		.chzn-container-multi .chzn-choices,
		select:not(.time), textarea, input[type="text"], input[type="password"], input[type="datetime"], input[type="datetime-local"], input[type="date"], input[type="month"], input[type="time"], input[type="week"], input[type="number"], input[type="email"], input[type="url"], input[type="search"], input[type="tel"], input[type="color"],
		.chzn-container-single .chzn-single {
			min-width: 355px;
		}
		.chzn-container-single .chzn-search input[type="text"] {
			min-width: 100%;
		}
		.calendar-container table {
			max-width: 355px;
		}
		button.btn:not(.btn-primary) {
			background: #232428;
			color: #fff;
		}
		form#adminForm {
			position: relative;
			.toggle-editor .btn {
				border: 1px solid #2a2d32;
				margin: 30px 0 0;
				color: #a9a9a9;
			}
			> .btn-toolbar {
				position: absolute;
				bottom: 32px;
				margin-left: 0;
				display: flex;
				justify-content: center;
				width: 100%;
			}
		}
	}
	.j2store-product-edit-form {
		background: transparent;
		padding: 0 0 50px;
		.panel {
			border-radius: 0;
			box-shadow: none;
		}
		> hr {
			display: none;
		}
	}
	#editor-xtd-buttons {
		margin: 0 -15px 60px;
		a.btn {
			padding: 15px 10px;
		}
	}
}
/* ---------- Archive Article ----------- */
.archive {
	.filter-search {
		.btn {
			padding-bottom: 8px;
			padding-top: 8px;
		}
		> select {
			min-width: 80px;
		}
	}
	.article-info-term {
		display: none;
	}
	> form > fieldset {
		margin-bottom: 32px;
	}
	#archive-items{
		background-color: #232428;
		border: solid 1px #2a2d32;
		padding: 32px 20px; 
	}
	.chzn-container{
		margin-right: 5px;
	}
}
/* ---------- Category List ----------- */
.category-list{
	.first-article{
		padding: 20px;
		background-color: #232428;
		border: solid 1px #2a2d32; 
		margin-bottom: 32px;
	}
	.btn-toolbar{
		margin-left: 0;
		margin-bottom: 32px;
	}
}
/* ---------- Administrator Components ----------- */
.article-index {
	.nav-tabs {
		border: 1px solid #d5d6d8;
		> li {
			> a {
				border-bottom: 1px solid #d5d6d8;
				border-width: 0 0 1px 0;
				border-radius: 0;
				margin: 0;
				color: #394a5c;
			}
			&.active {
				> a {
					&:hover, &:focus {
						border-width: 0 0 1px 0;
						border-radius: 0;
						background-color: #eee;
					}
				}
			}
		}
	}
	+ .articleBody {
		.pagenavcounter {
			margin-bottom: 10px;
			+ p {
				+ ul {
					padding-left: 15px;
					padding-right: 15px;
				}
			}
		}
	}
}
/* ---------- Tag Category ----------- */
.tag-category {
	form {
		fieldset {
			margin: 30px 0;
			button {
				padding: 8px 15px;
				&[name*="filter-"] i.fa {
					margin: 0;
				}
			}
			label.filter-search-lbl {
				display: block;
			}
			.form-group + .btn-group {
				margin-top: 27px;
			}
		}
	}
	> img {
		margin: 0 0 25px;
		display: block;
	}
	.category {
		padding: 0;
		li {
			list-style: none;
			h3 {
				margin-top: 0;
			}
			img {
				margin-bottom: 20px;
			}
		}
	}
	ul.thumbnails {
		padding: 0;
		li {
			list-style: none;
		}
	}
}
/* ---------- Comming Soon Page ----------- */
body {
	&.coming-soon {
		.search #mod-search-searchword {
			@include rtl-margin-right(6px);
		}
	}
}
.jsn-counter-wrap {
	text-align: center;
	.info {
		.number {
			font-size: 28px;
			font-weight: bold;
			text-align: center;
			color: #ffffff;
			display: block;
			margin-top: 32px;
    		margin-bottom: 5px;
		}
		.title {
			font-size: 16px;
			text-align: center;
			color: #fefefe;
			text-transform: uppercase;
		}
	}
}
/* ---------- Content Types ----------- */
.sunfw-link,
.sunfw-quote,
.sunfw-gallery,
.sunfw-video,
.sunfw-standard {
	margin-bottom: 30px;
}
.sunfw-link {
    background-color: #c43c3f;
    padding: 30px 25px;
    text-align: left;
    border-left: 3px solid #d8d8d8;
	h2 {
		margin: 0;
	}
	a {
		color: #fff;
		display: flex;
		align-content: center;
		align-items: center;
		font-weight: bold;
    	font-size: 24px;
    	&:hover{
    		color: #fff;
    	}
		i {
			font-size: 120px;
			line-height: inherit;
			background: transparent;
			width: 118px;
			height: 118px;
			@include rtl-margin-right(0);
			border-radius: 0;
			display: none;
			float: none;
			position: relative;
			line-height: 125px;
			color: rgba(255,255,255,0.2);
			@include rtl-margin-right(-90px);
		}
	}
}
.sunfw-quote {
	@include rtl-border-left(3px solid #E9E9E9);
	padding: 20px;
	background-color: #3b3c40;
	border: solid 1px #36393d;
	.author {
		color: #a9a9a9;
		font-family: Roboto;
		font-size: 18px;
		font-weight: bold;
		line-height: 21px;
		font-style: normal;
		margin: 20px 0 0;
	}
	.text{
		font-style: italic;
	}
}
/* ---------- Content Types ----------- */
#sunfw-social-share {
	a {
		display: inline-block;
		margin-left: 2px;
		margin-right: 2px;
		i.fa {
			font-size: 22px;
		}
	}
}

.home-page-gallery{
	.jsn-is-msnry-grid-item {
		a{
			overflow: hidden;
			position: relative;
			img{
				-webkit-transform: scale(1);
				transform: scale(1);
				-webkit-transition: .3s ease-in-out;
				transition: .3s ease-in-out;
			}
			&:hover{
				img{
					-webkit-transform: scale(1.3);
					transform: scale(1.3);
				}
			}
		}
	}
}

@-webkit-keyframes shine {
	100% {
		left: 125%;
	}
}
@keyframes shine {
	100% {
		left: 125%;
	}
}
.sunfw-logo-footer{
	margin-bottom: 25px;
}
.hover-effect{
	position: relative;
	overflow: hidden;
	&:before{
		position: absolute;
		top: 0;
		left: -80%;
		z-index: 2;
		display: block;
		content: '';
		width: 50%;
		height: 100%;
		background: -webkit-linear-gradient(left, rgba(255,255,255,0) 0%, rgba(255,255,255,.3) 100%);
		background: linear-gradient(to right, rgba(255,255,255,0) 0%, rgba(255,255,255,.3) 100%);
		-webkit-transform: skewX(-25deg);
		transform: skewX(-25deg);
	}
	&:hover{
		cursor: pointer;
		&:before{
			-webkit-animation: shine .75s;
			animation: shine .75s;
		}
	}
}

.image-effec-hover{
	position: relative;
	overflow: hidden;
	> picture img{
		-webkit-transform: scale(1);
		transform: scale(1);
		-webkit-transition: .3s ease-in-out;
		transition: .3s ease-in-out;
	}
	&:hover{
		> picture img{
			-webkit-transform: scale(1.3);
			transform: scale(1.3);
		}
	}
}

.sunfw-view-article > .sunfw-content > .item-page {
    padding: 30px;
}
body.sunfw-view-mailto #mailto-window {
    padding: 30px;
}
.item-page.edit .input-append input[type="text"] + a + a.btn.hasTooltip {
    padding: 9.5px 10px;
    vertical-align: top;
    background: transparent;
    border-width: 1px 1px 1px 0;
    border-style: solid;
    border-color: #2a2d32;
}
span[class*="icon-"] {
    display: inline-block;
    font: normal normal normal 14px/1 FontAwesome;
        font-size: 14px;
    font-size: inherit;
    text-rendering: auto;
}
.icon-remove::before {
    content: "\f00d";
}
.cc-theme-block.cc-type-info.cc-top{
	overflow: hidden;
}
.carousel-inner > .item > img, 
.carousel-inner > .item > a > img{
	width: 100%;
}
.carousel-indicators li{
	width: 12px;
	height: 12px;
	border-radius: 50%;
}
.icon-hover-effect{
	&:hover{
		color: #fff !important;
	}
}
.edit{
	#images{
		.input-prepend.input-append{
			position: relative;
			display: inline-block;
			.modal.btn{
				position: absolute;
			    display: inline-block;
			    z-index: 1;
			    max-width: 80px;
			    border-width: 1px 0 1px 1px;
			    border-color: #2a2d32;
			    border-style: solid;
			    background: #232428;
			    right: 28px;
			    top: 0;
			    left: auto;
			}
			.media-preview{
				display: none;
			}
		}
	}
}