// ======================================
// -------- Disable Responsive ----------
// ======================================

.disable-responsive {
	.container {
		width: 960px !important;
	}
}

// ======================================
// ------------- Small grid -------------
// ======================================

@media (min-width: $screen-sm-min) {

}

// ======================================
// ------------- Medium grid ------------
// ======================================

@media (min-width: $screen-md-min) {
	.container-fluid {
		padding-left: 0;
		padding-right: 0;
	}
}


// ======================================
// ------------- Large grid -------------
// ======================================

@media (max-width: 1366px) {
	body.coming-soon {
		height: 100%;
	}
}
@media (min-width: $screen-sm-max) {
	.sunfw-menu-head li.megamenu > .caret {
		display: none;
	}

}
@media (max-width: $screen-md-max) {
	#finder-search {
		fieldset > input[type="text"] {
			margin-bottom: 15px;
		}
	}
	body {
		&.coming-soon {
			.sunfw-content {
				width: 100%;
			}
		}
	}
}
@media (max-width: $screen-sm-max) {
	.sunfw-view-search .sunfw-main-body .layout-item{
		padding: 20px;
	}
	#finder-search{
		.word{
			label{
				display: block;
			}
		}
		fieldset{
			> input[type="text"]{
				max-width: 200px;
			}
		}
	}
	.contact {
		.accordion-inner {
			.contact-position {
				margin-top: 30px;
				* {
					margin-top: 0;
				}
			}
		}
		.dl-horizontal dt {
			float: left;
			width: 80px;
			clear: left;
			text-align: right;
			text-overflow: ellipsis;
			white-space: nowrap;
		}
		.dl-horizontal dd {
			margin-left: 100px;
		}
	}
	.contact{
		#contact-form.form-horizontal{
			.control-group{
				.controls{
					margin-left: 0;
					input, textarea{
						width: 100% !important;
					}
				}
				.control-label{
					text-align: left;
				}	
			}
			fieldset{
				.control-group:last-child{
					.control-label{
						width: auto;
					}
				}
			} 	
		}
	}
	.control-group select{
		background-color: #1a1b1e;
    	border: solid 1px #2a2d32;
    	min-width: 100%;
	}  
	#sunfw_section_bottom {
		.module-style[class*="richbox-"] {
			margin-bottom: 30px;
		}
	}
	[id*="member-"] {
		input[name*="jform[easydiscussprofile]"] {
			max-width: 100%;
		}
		input[type="email"],input[type="password"],input[type="text"],textarea {
			min-width: 100%;
		}
	}
	.contact .accordion-group button[type="submit"] {
		position: static;
		margin-left: 0;
	}
}
@media (max-width: $screen-xs-max) {
	.social{
		margin-bottom: 30px;
	}
	.search{
		.btn-group{
			input{
				margin-bottom: 10px;
			}
		}
	}
	#finder-search button.btn{
		display: block;
		margin-left: 0;
		margin-bottom: 10px;
		width: 100%;
	}
	#finder-search button.btn + a[href="#advancedSearch"]{
		display: block;
		margin-left: 0;
	}
	#finder-search fieldset > input[type="text"]{
		width: 100%;
    	max-width: 100%;
	}
	.sunfw-view-search .sunfw-main-body .layout-item,
	.sunfw-view-search .sunfw-main-body .layout-item{
	 	padding: 20px;
	}
	.sunfw-section.main-body{
		padding: 60px 0;
	}
	.remind .control-group .controls{
		margin-left: 0 !important;
	}
	.remind > form > fieldset > p{
		text-align: left;
	}
	.item-page .content_rating {
		float: none;
	}
	.layout-item {
		.items-row {
			margin-bottom: 0;
			&:last-child {
				[class*="col-xs-"]:last-child {
					margin-bottom: 0;
				}
			}
		}
	}
	.items-row [class*="col-xs-"] {
		width: 100%;
		margin-bottom: 0;
	}
	.sunfw-logo {
		padding: 35px 0;
		img.logo {
			display: block;
			margin: 0 auto;
		}
	}
	.sunfw_bottom{
		.sunfw-logo {
			padding: 35px 0 16px;
			img.logo {
				display: block;
				margin: 0;
			}
		}
	}
	.social{
		margin-top: -18px;
	}
	.sunfw-pos-right {
		.module-style:first-child {
			margin-top: 30px;
		}
	}
	.profile-edit,
	.login,
	#user-registration,
	#member-registration {
		.control-label {
			width: 100px;
			float:none;
			text-align: left !important;
		}
		.controls {
			@include rtl-margin-left(110px);
		}
	}
	.profile-edit .control-group .controls{
		margin-left: 0;
	}
	.remind button,
	.reset button,
	.login > form button {
		min-width: 100%;
	}
	textarea, input[type="text"]:not([name*="filter"]), 
	input[type="password"], input[type="datetime"], 
	input[type="datetime-local"], input[type="date"], 
	input[type="month"], input[type="time"], 
	input[type="week"], input[type="number"], 
	input[type="email"], input[type="url"], 
	input[type="search"], input[type="tel"], input[type="color"],
	.chzn-container-single .chzn-single {
		width: 100%;
	}
	.filters {
		.btn-group {
			width: 100%;
			&.pull-right {
				width: 100%;
				margin-left: 0;
			}
		}
		input[type="text"][name="filter-search"] {
			margin-bottom: 20px;
		}
	}
	.contact-category{
		.filters {
			.btn-group {
				width: 100%;
				&.pull-right {
					width: calc(100% - 10px);
					margin-left: 10px;
				}
			}
		}
	}
	.contact{
		.accordion-inner{
			.thumbnail{
				float: left !important;
    			margin-bottom: 30px;
			}
			.contact-position dd{
				margin-bottom: 10px;
			}	
		}	
	}
	.login{
		> form fieldset {
		    background-color: transparent;
		    border: 0;
		    padding: 0;
		} 
	    > form button, 
	    > form input[type="text"], 
	    > form input[type="password"]{
	    	min-width: 220px;
	    }
	}
	.profile{
		.dl-horizontal{
			dd{
				text-align: center;
			}
		}	
	} 
	.table > thead > tr > th, .table > thead > tr > td, .table > tbody > tr > th, .table > tbody > tr > td, .table > tfoot > tr > th, .table > tfoot > tr > td {
		padding: 10px;
	}
	.edit.item-page {
		.chzn-container-multi .chzn-choices,
		select:not(.time), textarea, input[type="text"], input[type="password"], input[type="datetime"], input[type="datetime-local"], input[type="date"], input[type="month"], input[type="time"], input[type="week"], input[type="number"], input[type="email"], input[type="url"], input[type="search"], input[type="tel"], input[type="color"],
		.chzn-container-single .chzn-single {
			min-width: 235px;
			width: 235px;
		}
		.chzn-container-single .chzn-search input[type="text"] {
			min-width: 100%;
		}
		.calendar-container table {
			max-width: 235px;
		}
		#metadata,
		#publishing {
			.control-label {
				flex: 0 0 32%;
			}
		}
		form#adminForm .toggle-editor .btn {
			margin-bottom: 80px;
		}
	}
	.table {
		table-layout: fixed;
		overflow-y: hidden;
		min-height: .01%;
		overflow-x: scroll;
		overflow-y: hidden;
		 webkit-overflow-scrolling: auto;
		 -webkit-overflow-scrolling: touch;
		border: 1px solid #d5d6d8;
		text-overflow: ellipsis;
		&.table-bordered {
			border: none;
		}
	}
	.registration #member-registration,
	.profile-edit {
		.control-group {
			max-width: 100%;
		}
	}
	.registration #member-registration {
		.control-group {
			.control-label {
				width: 100%;
			}
			.controls {
				@include rtl-margin-left(0);
			}
		}
		> .control-group {
			.controls {
				@include rtl-margin-left(0);
			}
		}
	}
	.contact {
		.accordion-group fieldset legend {
			margin: 0;
		}
		#contact-form.form-horizontal {
			.control-group {
				.control-label {
					float: none;
					@include rtl-text-align-left();
				}
				.controls {
					@include rtl-margin-left(0);
					input, textarea {
						width: 100%;
					}
				}
			}
		}
		#contact-form.form-horizontal {
			.control-group:last-child {
				display: flex;
				flex-direction: row-reverse;
				justify-content: flex-end;
				#jform_contact_email_copy {
					@include rtl-margin-right(10px);
				}
			}
		}
	}
	.jsn-contact-form .jsn-master .jsn-bootstrap {
		.form-actions {
			@include rtl-margin-right(0);
		}
		.jsn-form-content .control-group .controls {
			input {
				width: calc(100% - 20px) !important;
			}
			textarea {
				width: calc(100%) !important;
			}
		}
	}
	.jsn-contact-form {
		max-width: 100%;
	}
	.jsn-counter-wrap {
		margin-bottom: 80px;
		.info {
			.number {
				font-size: 25px;
				line-height: 50px;
				width: 50px;
				height: 50px;
				margin: 0 auto;
			}
		}
	}
	#sunfw-master div.search input[type="search"] {
		width: 100%;
		margin-bottom: 20px;
	}
	.sunfw-scrollup {
		padding: 12px 40px;
	}
	#sunfw_section_bottom {
		.module-style {
			margin-bottom: 30px;
		}
	}
}
@media (min-width: $screen-sm-min) and (max-width: $screen-sm-max) {
	.sunfw-logo {
		padding: 2px 0;
	}
	.sunfw-section.main-body{
		padding: 60px 0;
	}
	[id*='jsn-themeclassic-jsgallery-'] .galleria-thumbnails-container .galleria-thumbnails-list{
		margin: 0 86px !important;
	}
	.galleria-thumb-nav-right{
		right: 30px;
	}
	.galleria-thumb-nav-left{
		left: 30px;
	}
	.cc-theme-block.cc-type-info.cc-top{
		min-height: 66px;
		height: auto !important;
		display: flex;
	    justify-content: center;
	    align-items: center;
	    .cc-message{
	    	width: 80%;
	    }
	}
}
@media (max-width: 380px) {
	#sunfw-master #recaptcha_table {
		width: 250px!important;
	}
	input#search-searchword[type="text"] {
		margin-bottom: 20px;
	}
	.remind button,
	.remind input[type="email"],
	.reset button,
	.reset input[type="email"] {
		min-width: 100%;
	}
	.article-index {
		width: 100%;
		margin: 0 0 20px;
	}
	.marginright-15 {
		@include rtl-margin-right(15px);
	}
}
@media (max-width: 320px) {
	#finder-search button.btn {
		margin-bottom: 10px;
	}
	.table > thead > tr > th, .table > thead > tr > td, .table > tbody > tr > th, .table > tbody > tr > td, .table > tfoot > tr > th, .table > tfoot > tr > td {
		padding: 10px 5px;
	}
	.table {
		font-size: 0.9em;
		&.category th {
			font-size: 1em;
		}
	}
	.badge {
		padding: 4px 8px;
	}
	.jsn-counter-wrap {
		.info {
			.number {
				font-size: 20px;
				line-height: 40px;
				width: 40px;
				height: 40px;
			}
			.title {
				font-size: 11px;

			}
		}
	}
}