// Login
legend {
	font-size: 18px;
	color: #fefefe;
	font-weight: bold;
	padding: 0 0 10px 0;
	margin-bottom: 10px;
	border-bottom: 1px solid #2a2d32;
}
.login {
	border-radius: 0;
	display: flex;
	justify-content: center;
  > form {
    border: none;
    border-radius: 0;
    margin-bottom: 0;
    @include box-shadow(none);
	padding: 0;
	background: transparent;
    button,
	input[type="text"],
	input[type="password"] {
		min-width: 250px;
    }
    fieldset{
    	background-color: #1a1b1e;
		border: solid 1px #2a2d32;
		padding: 20px;
    }
  }
  .login-description {
	img {
		display: block;
		margin: 20px 0;
	}
  }
  .form-horizontal .control-label {
	@include rtl-margin-right(10px);
	padding-top: 0;
  }
  .control-group {
    #remember {
      height: auto;
      width: auto;
	  vertical-align: middle;
	  margin: 0;
    }
	label {
		margin: 0;
		vertical-align: middle;
		color: #fefefe;
		font-size: 13px;
	}
  }
  .nav.nav-stacked {
    > li > a {
      border: none;
      background: transparent;
      padding-bottom: 0;
      &:hover {
        border: none;
        background: transparent;
        @include box-shadow(none);
      }
    }
  }
}
.profile-edit,
.login,
#user-registration,
#member-registration {
	.control-label {
		@include rtl-float-left();
		width: 100px;
		padding-top: 5px;
		@include rtl-text-align-left();
		clear: left;
		margin-bottom: 5px;
		color: #fefefe;
	}
	.controls {
		@include rtl-margin-left(0);
		input, textarea, .chzn-container {
		  &:-moz-placeholder {
			color: #999;
			opacity: 1;
		  }
		  &:-ms-input-placeholder {
			color: #999; }
		  &::-webkit-input-placeholder {
			color: #999; }
		  &::-ms-expand {
			border: 0;
			background-color: transparent;
		  }
		  .form-control[disabled], fieldset[disabled] .form-control {
			cursor: not-allowed;
		  }
		}
	}
	.control-group {
		margin-bottom: 16px;
		.btn{
			margin-top: 15px;
		} 
		&:last-child {
			margin-bottom: 0;
		}
		&.remember{
			.controls{
				display: inline-block;
				.remember{
					display: none;
					&:checked + label{
						background-color: #1a1b1e;
						border: solid 1px #36393d;
					    color: #99a1a7;
					    padding: 9px;
					    border-radius: 3px;
					    display: inline-block;
					    position: relative;
					    &:after{
					    	content: '\f00c';
						    font-size: 14px;
						    position: absolute;
						    top: -1px;
						    left: 3px;
						    font-family: FontAwesome;
						    color: #b3383a;
					    } 
					}
				}
				.remember + label{
					border-radius: 3px;
					background-color: #1a1b1e;
					border: solid 1px #36393d;
				    padding: 9px;
				    display: inline-block;
				    position: relative;
				}
			}
			.control-label{
				display: inline;
				float:none;
				margin-left: 10px;
			}
		}
		&.button,
		&.login-nav{
			margin-bottom: 0;
		}
	}
	> .control-group {
		margin-bottom: 0;
	}
}
.remind {
	> form {
		> fieldset {
			margin-bottom: 12px;
			> p {
				margin: 0 180px 32px;
				text-align: center;
				color: #fefefe;
				@media(max-width: 991px){
					margin: 0 0 32px;
				}
			}
		}	
	}
	.control-group {
		max-width: 370px;
		margin: 0 auto 20px;
		.controls{
			margin-left: 130px !important;
		}
		button{
			width: 78px !important;
    		min-width: auto;
		}
	}
}
// User-registration
.registration {
	#member-registration {
		fieldset + fieldset {
			margin-bottom: 60px;
		}
		fieldset{
			margin-bottom: 12px;
		}
		legend {
			border-bottom: 1px solid #2a2d32;
			margin-bottom: 25px;
		}
		.control-group {
			max-width: 530px;
			margin-left: auto;
			margin-right: auto;
			.control-label {
				width: 155px;
				text-align: right;
				span.spacer {
					margin-bottom: 20px;
					display: block;
				}
			}
			.controls {
				@include rtl-margin-left(170px);
			}
		}
	}
}
#user-registration,
#member-registration {
	padding: 0;
	background-color: transparent;
	border: none;
	box-shadow: none;
	margin-bottom: 0;
  .control-group {
    &:before {
      display: table;
      content: " ";
      clear: both;
    }
  }
  legend {
	color: #fefefe;
    border: 0;
    font-weight: bold;
  }
}
.remind,
.reset {
	button {
		min-width: 100%;
    }
	input[type="email"] {
		width: calc(100%);
    }
}
.profile {
	legend {
	    text-align: left;
	}
	.btn-toolbar {
		margin-bottom: -43px;
		@include rtl-padding-left(0);
		background: transparent;
	}
	dt, dd {
		line-height: 30px;
	}
	.dl-horizontal {
		dd {
			min-width: 200px;
			@include rtl-text-align-left();
		}
	}
	[id^="users-profile-"] {
		clear: both;
		text-align: center;
		dl.dl-horizontal {
			display: inline-block;
		}
	}
}
.profile-edit {
	.control-group {
		max-width: 645px;
		margin-left: auto;
		margin-right: auto;
		.control-label {
			width: 240px;
		}
		.controls {
			@include rtl-margin-left(240px);
			.chzn-container {
				min-width: 360px;
			}
		}
	}
    .well {
		background: transparent;
		box-shadow: none;
		border-radius: none;
		border: none;
		padding: 0;
	}
	.chzn-container-single .chzn-single{
		min-width: 360px;
	}
	#member-profile{
		fieldset{
			&:first-child{
				margin-bottom: 50px;
			}
		}
	}
	#jform_params_timezone_chzn{
		.chzn-search input[type="text"]{
			min-width: auto;
    		width: 100%;
		}
	}
}
.profile-edit,
.profile {
	legend {
		margin-bottom: 25px;
		border-bottom: solid 1px #2a2d32;
	}
}
[id*="member-"] {
	input[name*="jform[easydiscussprofile]"] {
		max-width: 360px;
	}
	input[type="email"],input[type="password"],input[type="text"],textarea {
		min-width: 360px;
	}
}
.sunfw-login-nav {
  .nav {
    padding-top: 15px;
    border: none;
    li {
      a {
        padding: 5px 0;
        border: none;
        &:hover {
          background: transparent;
          border: none;
        }
      }
    }
  }
}