// ======================================
// ------------ GENARAL -----------------
// ======================================

$page-border: none !default;

$page-box-shadow: none !default;


html {
	position: relative;
	min-height: 100%;
}

body { 
	height: 100%;
	overflow-x: hidden;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	a {
		transition: all 0.3s ease-in-out;
	}
}
body.sunfw-view-mailto{
	background: #fff;
	#mailto-window{
		padding: 30px;
	}	
}
body.sunfw-quick-tour{
	background: #fff; 
}
.jsn-master .jsn-text-center{
	display: none;
}
.footer-position{
	color: #fff;
    margin-top: 0;
    font-weight: bold;
    font-size: 16px;
    &.position-copyright{
    	text-align: center;
    	margin: 0;
    	padding-top: 30px;
    	background: rgba(0,0,0,0.5);
    }
}
.sunfw-view-article{
	> .sunfw-content {
		> .item-page{
			padding: 30px;
		}
	}
}
.jsn-error-inner .table{
	display: table;
    width: 100%;
    height: 100%;
    margin: 0; 
    border: 0;
}
.jsn-error-inner .table .table-cell {
    display: table-cell;
    width: 100%;
    height: 100%;
    vertical-align: middle;
}
.carousel-control{
	text-shadow: none;
}
.jsn-error-inner #content {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    .content-inner{
    	display: flex;
    	justify-content: center;
    	.box-image-left{
    		padding: 0 25px;
    	}
    	.box-content-right{
    		padding: 0 25px;
    		.jsn-error-text{
    			font-size: 16px;
				font-weight: bold;
				line-height: 1.5;
				text-align: left;
				color: #555555;
				margin-top: 35px;
				text-transform: uppercase;
    		}
    		.jsn-error-text-desc{
    			font-size: 14px;
				color: #555555;
				margin-bottom: 30px;
    		}
    		.goto-home{
    			a{
    				color: #f57c33;
    			}
    		}
    	}
    }
}
body.sunfw-com-imageshow,
body.sunfw-com-uniform,
body.sunfw-view-plugins,
body.sunfw-layout-modal{
	background-color: #fff !important;
}
.jsn-imageshow-plg-editor-wrapper .jsn-section-header{
	text-shadow: none;
}
.sunfw-layout-edit{
	#sbox-window #sbox-content iframe{
		height: 100%;
	}
}
/* ---------- All Config ----------- */
.sunfw_content_top_below,
.sunfw_content_top_over,
.sunfw_get_it_touch,
.sunfw_content_bottom,
.sunfw_promo,
.sunfw_content_bottom_bellow,
.sunfw_content_top,
.sunfw_bottom{
	.container{
		background-color: #fff;
	}
}
.sunfw_content_top{
	.container{
		padding: 30px;
	}
}
.sunfw_content_bottom{
	.container{
		padding: 30px; 
	}
}
// .sunfw_promo{
// 	.container{
// 		padding-top: 30px;
// 		padding-bottom: 30px;
// 	}	
// } 
.sunfw-logo {
    padding-top: 10px;
    padding-bottom: 10px;
}
.modulecontainer,
.hikashop-bestsellers,
.hikashop-new-arrivals{
	div.module-title{
		text-align: center;
		margin-bottom: 30px;
	}
}
h3.glass_module_title{
	font-size: 28px;
	line-height: 42px;
	color:#555;
	display: inline;
	position: relative;
	padding-bottom: 7px;
	&:after{
		position: absolute;
		content: '';
		height: 2px;
		width: 80%;
		left: 10%;
		bottom: 0;
	}
}
.title_quick_tour{
	position: relative;
	&:after{
		position: absolute;
		content: '';
		width: 130px;
		height: 2px;
		background-color: #f57c33;
		bottom: 0;
		left: calc(50% - 65px);
	}
} 
.page-contact-us{
	.sunfw_breadcrumb{
		margin-bottom: 0 !important;
	}
}
.sbox-content-iframe{
	body{
		background-color: #fff;
	}
}
.carousel-control{
	background-image: none !important;
}
/* ---------- Homepage Page ----------- */
.sunfw-homepage,
.sunfw-orange-color,
.sunfw-red-color,
.sunfw-bule-color,
.sunfw-mint-color,
.sunfw-purple-color,
.sunfw-gray-color{
	// .sunfw_header{
	// 	position: absolute;
	// }
	.sunfw_content_bottom .container{
		padding-top: 0;
		padding-bottom: 0;
	}	
} 
.sunfw_header{
	width: 100%;
    background-color: #341F42;
    z-index: 999;
}
.sunfw_top{
	position: relative;
	&:after{
		content: "";
	    height: 3px;
	    width: 100%;
	    position: absolute;
	    bottom: 0;
	    left: 0;
	    background: url(../images/line.png) no-repeat;
	    background-position: center bottom;
	    background-size: 100% 100%; 
	}
	.sunfw-logo {
	    padding-top: 10px;
	    padding-bottom: 10px;
	}
}
/* ---------- Homepage Slider ----------- */
.sunfw_banner{
	    padding-top: 130px;
	    padding-bottom: 130px;
	    margin-bottom: 30px;
	    position: relative;
	    padding-bottom: 130px;
	    z-index: 3;
	.jsn-gallery{
		.box_skitter, .label_skitter{
			background: none !important;
		}
	}
}
.sw-header {
	position: relative;
	z-index: 999;
}
.content-center {
	text-align: center;
	margin-top: 10px;
}
.image-responsive{
	picture{
		width: 100%;
	}
}
.search-module {
    padding: 0;
    input {
	    width: 100% !important;
	    margin-bottom: 15px;
	}
	button {
	    width: 100%;
	}
	&.hikashop-page{
		input{
			margin-bottom: 0;
		}
	}
}
/* ---------- Get It Touch ----------- */
.get-it-touch{
	.control-group{
		padding: 7.5px 0 !important;
		border:0;
		.control-label{
			display: none !important;
		}
		input, textarea{
			width: 100% !important;
			box-sizing: border-box;
			-webkit-box-sizing: border-box;
			-moz-box-sizing: border-box;
			-o-box-sizing: border-box;
		}
		textarea{
			padding: 10px;
		}
		.jsn-master .jsn-narrow .jsn-input-xlarge-fluid{
			width: 100%;
		}
	}
	.form-actions{
		float: right;
		padding: 0 !important;
		margin-top: 17.5px !important;
		margin-bottom: 0 !important;
		button.btn{
			width: 130px;
			margin: 0;
		}
	}
	.module-title{
		text-align: center;
		margin-bottom: 22.5px;
	}
}
.home-video-box .pb-video-wrap {
    height: inherit !important;
}
// Row Flex
.sunfw-flex {
    display: -webkit-flex !important;
    display: flex !important;
    flex-wrap: wrap;        
    &.flex-items-middle {
        align-items: center;
        -webkit-align-items: center;
    }
    &.flex-items-top {
        align-items: top;
        -webkit-align-items: top;
    }
    &.flex-items-bottom {
        align-items: bottom;
        -webkit-align-items: bottom;
    }
    &.flex-items-right{
    	justify-content: flex-end;
    }
    //fix for safari
    &:before, &:after{
    	display: none;
    }
}

#{$brand-prefix}content {
	height: 100%;
	@include transition(all .3s);
}

img {
	max-width: 100%;
}
.sunfw-scrollup {
	background-color: rgba(113,127,142,0.5);
	display: none;
	position: fixed;
	bottom: 30px;
	right: 30px;
	color: #999;
	z-index: 10000;
	padding: 18px 47px;
	transition: color 0.3s linear, background 0.3s ease-in-out;
	-moz-transition: color 0.3s linear, background 0.3s ease-in-out;
	-webkit-transition: color 0.3s linear, background 0.3s ease-in-out;
	text-align: center;
	i {
		font-size: 20px;
	}
	&:hover {
		text-decoration: none;
		color: #fff;
	}
	&.position-center {
		left: 50%;
	 	-webkit-transform: translateX(-50%);
	    -ms-transform: translateX(-50%);
	    transform: translateX(-50%);   
		bottom: 0;
		right: auto;
	}
	&.position-left {
		left: 30px;
		right: auto;
	}
}
.sunfw-switcher a.btn{
	padding: 5px 10px;
	margin-bottom: 1px;
	color: #000;
	border-radius: 0;
	&.active,&:active{
		box-shadow: none;
		border-bottom: 1px solid #000;
	}
}
.chzn-container-single {
    .chzn-single {
		height: 35px;
		border-radius: 0;
		line-height: 35px;
		padding-left: 8px;
		padding-right: 8px;
	}
}
fieldset {
	margin-bottom: 20px;
}
.sample-module {
	margin-top: 20px;
}
/* ---------- Search Page ----------- */
form#searchForm{
	border: none;
	padding: 0;
	.searchintro{margin: 25px 0 10px;}
	fieldset{
		margin-top:15px;
		+ fieldset.only {
			margin-top: 35px;
		    padding-bottom: 25px;
		    border-bottom: 1px solid #E7EAEE;
		    margin-bottom: 40px;
		}
		legend{
			padding-bottom: 8px;
			padding-top: 8px;
		}
		label.radio, label.checkbox {
			margin-top: 20px;
			margin-bottom: 20px;
		}
		label input{
			display: inline-block;
			position: inherit;
			margin: -3px 6px 0 0;
			vertical-align: middle;
		}
		.ordering-box {
			padding-top: 12px;
		}
	}
	.form-limit{
		label{
			font-weight: bold;
			margin-bottom: 10px; 
		}	
	}
	p.counter{ padding: 10px 0;}
	.chzn-container-single {
		display: block;
		margin: 5px 0 0;
	}
}
dl.search-results{
	margin: 10px 0;
	padding: 0;
	dt.result-title{
		padding-top: 5px;
		font-weight: normal;
		> a{
			font-weight: bold;
		}
	}
	.result-category {
		margin: 3px 0 10px;
	}
	.result-created {
		margin-bottom: 22px;
	}
}
.chzn-container{
	margin-right: 5px;
}
.chzn-container-single .chzn-single {
	border-radius: 4px;
    box-shadow: none;
    background: transparent;
    border-color: #D1D6DE;
	height: 40px;
    line-height: 40px;
	div b {
		margin: 8px 0;
	}
}
.chzn-container-single .chzn-single span{
	@include rtl-margin-right(0);
}

.sunfw-sticky.sunfw-sticky-open {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	right: 0;
	z-index: 999;
	.sunfw-menu-head.navbar-default {
		margin-top: 0;
	}
}
.search {
	#searchForm .chzn-container-single-nosearch {
		min-width: 250px;
	}
}
#finder-search {
	button.btn {
		@include rtl-margin-left(7px);
		line-height: 1.4;
		vertical-align: top;
		+ a[href="#advancedSearch"] {
			background: #555;
    		color: #fff;
    		@include rtl-margin-left(6px);
    		margin-top: -4px;
    		span{
    			margin-right: 5px;
    		}
		}
	}
	.finder-selects {
		margin: 0 0 30px;
		.control-label {
			margin-bottom: 8px;
		}
	}
	fieldset {
		margin-bottom: 0;
	}
	#advancedSearch {
		#search-query-explained {
			padding: 0;
		}
		#finder-filter-window .field-calendar {
			margin-top: 10px;
		}
	}
}
div#finder-filter-window .filter-branch .finder-selects {
	float: none;
}
/* ============ Top ============ */
.sunfw-pos-top {
	padding: 30px 0;
}
/* ============ PROMO ============ */


/* ============ MAINCONTENT ============ */
/* ---------- Article Category Blog ----------- */
.page-header {
	padding: 0;
	margin: 0;
	border-bottom: none;
	clear: both;
	h2 {
		margin-bottom: 6px;
		font-size: 18px;
		a {
			color: #555;
		}
	}
}
.article-info[class*="mut"] {
    margin: 5px -5px 10px;
	color: #555;
	dd {
		display: inline-block;
		padding: 0 5px;
		line-height: 22px;
		margin: 0;
		&:first-child {
			@include rtl-padding-right(0);
		}
		i.fa {
			@include rtl-margin-right(6px);
		}
	}
	+ .content_rating + form {
		margin-bottom: 20px;
	}
}
.icons {
	.btn-group {
		.btn.dropdown-toggle {
			padding: 0;
			.caret {
				@include rtl-margin-left(5px);
			}
		}
		&.open {
			.btn.dropdown-toggle {
				box-shadow: none;
			}
		}
	}
}
.layout-item {
	.items-leading {
		[class*="leading-"] {
			padding-bottom: 30px;
			overflow: hidden;
		}
	}
	.items-row {
		margin-bottom: 30px;
	}
}
.items-more {
	margin: 60px 0 0;
    clear: both;
	.nav-tabs {
		border-color: #E7EAEE;
		> li {
			> a {
				padding: 0 0 18px;
				margin: 0;
				border: none;
				color: #394A5C;
				&:hover {
					background: transparent;
				}
			}
		}
	}
}
.content_rating {
    display: flex;
    align-items: center;
	@include rtl-float-right();
	margin: 10px 0px;
	p {
		margin: 0;
		@include rtl-margin-right(10px);
	}
	+ form {
		input[name="submit_vote"] {
			color: #fff;
		}
		.content_vote {
			display: flex;
			align-content: center;
			align-items: center;
			label {
				@include rtl-margin-right(5px);
			}
			select{
				min-width: 80px;
				margin-right: 8px;
			}
		}
	}
}
.blog-featured,
.blog {
	.item-image {
		margin-bottom: 15px;
	}
	.entry-content {
		clear: both;
	}
	h2.item-title {
		margin-top: 0;
		font-size: 18px;
		clear: both;
		a {
			color: #555;
		}
	}
	.content_rating {
		margin: 18px 0 10px;
	}
}
.blog-featured{
	legend{
		display: block;
	    width: 100% !important;
	    padding: 0 0 15px 0;
	    margin-bottom: 0;
	    font-size: 18px;
	    line-height: inherit;
	    color: #555;
	    font-weight: normal;
	    border: 0;
	    border-bottom: 1px solid #D1D6DE !important;
	}
}
.readmore {
	margin: 5px 0 0;
	@include rtl-float-left();
}
/* ---------- Article Category List ----------- */
.content-category {
	.page-header {
		padding-top: 15px;
	}
	.category-desc {
		+ form {
			fieldset.btn-toolbar {
				margin-bottom: 30px;
				margin-top: 20px;
				padding-top: 30px;
				@include rtl-margin-left(0);
				label {
					@include rtl-margin-right(5px);
				}
			}
			table {
				td[headers="categorylist_header_date"] {
					font-size: 100%;
				}
			}
		}
	}
	.cat-children {
		margin: 20px 0 0;
		h3.page-header {
			padding: 0 0 20px;
			border-bottom: 1px solid #D1D6DE;
			margin-bottom: 20px;
			margin-top: 20px;
			font-size: 18px;
			a{
				color: #555;
			}
		}
		h1{
			font-size: 18px;
			line-height: 27px;
		}
	}
	.form-inline{
		.form-control{
			    height: 40px;
			    border-radius: 4px;
			    min-width: 220px;
		}
		table.category{
			a{
				color: #555;
			}
			th{
				font-weight: normal;
			}
			.badge{
				    border: 0;
				    background-color: #D1D6DE;
				    border-radius: 15px;
				    min-width: 70px;
				    padding: 5px 20px;
			}

		}
	}
	.btn-group{
		.inputbox{
			min-width: 60px;
		}
	}
}
.badge {
    padding: 4px 10px;
    font-size: 14px;
    font-weight: normal;
    color: #394A5C;
    background-color: #fff;
    border-radius: 0;
    border: 1px solid #E7EAEE;
    line-height: 15px;
    border-radius: 4px;
}
/* ---------- Article Categories ----------- */
.categories-list {
	.page-header {
		font-size: 18px;
		a{
			color: #555;
		}
	}
	div:not(.base-desc) {
		margin: 30px 0 0;
	}
	.first{
		margin-top: 0 !important;
	}
}
.cat-children,
.categories-list {
	.item-title.page-header {
		padding-bottom: 20px;
		border-bottom: 1px solid #E6E6E6;
		margin-bottom: 25px;
		font-size: 18px;
		a{
			color: #555;
		}
	}
	div.category-desc {
		margin: 20px 0 10px;
		+ div.collapse {
			@include rtl-padding-left(30px);
		}
	}
	.badge {
		border: 1px solid #E7EAEE;
		background: #fff;
		font-size: 14px;
		padding: 6px 10px;
		@include rtl-margin-left(10px);
	}
	a[data-toggle="collapse"] {
		padding: 0;
		border-radius: 100%;
		&:active {
			box-shadow: none;
		}
	}
	a {
		.icon-plus:after,
		.icon-minus:after {
			display: inline-block;
			font: normal normal normal 14px/1 FontAwesome;
			font-size: inherit;
			text-rendering: auto;
			font-size: 10px;
			width: 20px;
			height: 20px;
			background-color: #555;
			color: #fff;
			line-height: 20px;
			border-radius: 100%;
			margin-top: 5px;
		}
		.icon-minus:after {
			content: "\f068";
		}
		.icon-plus:after {
			content: "\f067";
		}
		&[aria-expanded="true"] {
			.icon-plus:after {
				content: "\f068";
			}
		}
	}
}
.cat-children {
	> h3 {
		font-size: 18px;
	}
	> div {
		margin-bottom: 20px;
		&.first{
			margin-top: 20px;
		}
	}
}
/* ---------- Single Article ----------- */
button.btn {
	.icon-calendar {
		display: inline-block;
		font: normal normal normal 14px/1 FontAwesome;
		font-size: inherit;
		text-rendering: auto;
		&:after {
			content: "\f073";
			font-size: 14px;
		}
	}
}
.item-page {
	.item-image {
		margin-bottom: 10px;
	}
	.articleBody {
		clear: both;
	}
	.article-index[class*="pull-"] + .articleBody {
		clear: none;
	}
	&.edit {
		fieldset{
			margin-bottom: 0;
		}
		#com-content-formTabs {
			margin-bottom: 30px;
			> li {
				padding: 0;
    			margin-bottom: 0;
				> a {
					    padding: 10px 20px;
					    border-radius: 0;
					    border-width: 1px 1px 0 0;
					    border-style: solid;
					    border-color: #D1D6DE;
					    color: #555;
					    font-size: 14px;
					    margin: 0;
				}
				&.active {
					> a {
						background: #fff;
						color: #fff;
					}
				}
				&:first-child{
					a{
						border-width: 1px 1px 0 1px;
						border-radius: 4px 0 0;
					}
				}
				&:last-child{
					a{
						border-radius: 0 4px 0 0;
					}
				}
			}
		}
		#editor {
			> .control-group {
				.control-label {
					width: 10%;
				}
			}
		}
		.control-group {
			margin: 0 0 30px;
			label {
				@include rtl-margin-right(10px);
				margin-bottom: 10px;
				&.invalid{
					border: 0;
				}
			}
		}
		.js-editor-tinymce {
			.mce-edit-area {
				border-color: #d5d6d8;
			}
			.mce-panel {
				border-color: #d5d6d8;
				background-color: #f8f8f8;
			}
		}
		.sunfw-media-selector {
			input {
				+ .btn {
					padding: 10.5px 15px;
					vertical-align: top;
					line-height: 1.4;
				}
			}
		}
		#com-content-formContent #images,
		#publishing {
			.control-label {
				flex: 0 0 15%;
			}
			.chzn-container-multi .chzn-choices {
				border-color: #d5d6d8;
				background: transparent;
			}
			button.btn {
				padding: 8px 15px;
				vertical-align: top;
				line-height: 1.4;
			}
		}
		#publishing{
			margin: 0 -15px;
			.control-group{
				width: 50%;
				float: left;
				padding: 0 15px;
				margin-bottom: 25px;
				.controls{
					.field-calendar{
						.input-append{
							display: inline-block;
    						position: relative;
    						width: 100%;
    						button.btn{
    							position: absolute;
							    top: 0;
							    right: 0;
							    padding: 10.5px 15px;
							    border-radius: 0 4px 4px 0;
							    height: 40px;
							    border: 1px solid #d1d6de;
							    background: #e8e8e8;
							    color: #555;
    						}
						}
					}
					.chzn-container-multi .chzn-choices li.search-field input[type="text"]{
						height: 40px;
					}
					.chzn-container{
						width: 100% !important; 
					}
					input[type="text"]{
						width: 100%;
					}
				}
				&:last-child{
					width: 100%;
					margin-bottom: 30px;
				}
			}
		}
		#metadata {
			.control-label {
				flex: 0 0 15%;
			}
			.control-group{
				.controls{
					textarea{
						width: 100%;
					}
				}
				&:last-child{
					margin-bottom: 30px;
				}
			}
		}
		#language {
		margin-bottom: 30px;
			.control-group {
				margin-bottom: 10px;
			}
		}
		#attrib-sunfw-options{
			overflow: hidden;
			.input-append{
				display: inline-block;
				position: relative;
				a.btn{
					position: absolute;
				    top: 0;
				    right: 0;
				    padding: 10.5px 15px;
				    border-radius: 0 4px 4px 0;
				    height: 40px;
				    border: 1px solid #d1d6de;
				    background: #e8e8e8;
				    color: #555;
				}
			}
		}
		.chzn-container-multi .chzn-choices,
		select:not(.time), textarea, input[type="text"], input[type="password"], input[type="datetime"], input[type="datetime-local"], input[type="date"], input[type="month"], input[type="time"], input[type="week"], input[type="number"], input[type="email"], input[type="url"], input[type="search"], input[type="tel"], input[type="color"],
		.chzn-container-single .chzn-single {
			min-width: 355px;
			border-radius: 4px;
		}
		.chzn-container-single .chzn-search input[type="text"] {
			min-width: 100%;
		}
		.calendar-container table {
			max-width: 355px;
		}
		button.btn:not(.btn-primary) {
			background: #555;
			color: #fff;
		}
		form#adminForm {
			position: relative;
			.toggle-editor .btn {
				margin: 5px 0 0;
				padding-right: 0;
				position: relative;
				&:before{
					content: "\f06e";
				    font-family: FontAwesome;
				    position: absolute;
				    top: 12px;
    				left: 10px;
				}
			}
			> .btn-toolbar {
    			.btn-group{
    				margin: 0 10px;
    				button{
    					min-width: 130px;
    				}
    			}
			}
		}
	}
	.j2store-product-edit-form {
		background: transparent;
		padding: 0 0 50px;
		.panel {
			border-radius: 0;
			box-shadow: none;
		}
		> hr {
			display: none;
		}
	}
	#editor-xtd-buttons {
		margin: 0 -15px 15px;
		a.btn {
			padding: 15px 10px;
		}
	}
}
/* ---------- Archive Article ----------- */
.archive {
	.filter-search {
		> select {
			min-width: 80px;
		}
	}
	.article-info-term {
		display: none;
	}
	.intro{
		margin-bottom: 40px;
	}
	.article-info{
		margin-bottom: 10px;
	}
}
/* ---------- Administrator Components ----------- */
.article-index {
	.nav-tabs {
		border: 1px solid #d5d6d8;
		> li {
			> a {
				border-bottom: 1px solid #d5d6d8;
				border-width: 0 0 1px 0;
				border-radius: 0;
				margin: 0;
				color: #394a5c;
			}
			&.active {
				> a {
					&:hover, &:focus {
						border-width: 0 0 1px 0;
						border-radius: 0;
						background-color: #eee;
					}
				}
			}
		}
	}
	+ .articleBody {
		.pagenavcounter {
			margin-bottom: 10px;
			+ p {
				+ ul {
					padding-left: 15px;
					padding-right: 15px;
				}
			}
		}
	}
}
/* ---------- Tag Category ----------- */
.tag-category {
	form {
		fieldset {
			margin: 30px 0;
			button {
				padding: 8px 15px;
				&[name*="filter-"] i.fa {
					margin: 0;
				}
			}
			label.filter-search-lbl {
				display: block;
			}
			.form-group + .btn-group {
				margin-top: 27px;
			}
		}
	}
	> img {
		margin: 0 0 25px;
		display: block;
	}
	.category {
		padding: 0;
		li {
			list-style: none;
			h3 {
				margin-top: 0;
			}
			img {
				margin-bottom: 20px;
			}
		}
	}
	ul.thumbnails {
		padding: 0;
		li {
			list-style: none;
		}
	}
}
/* ---------- Comming Soon Page ----------- */
body {
	&.coming-soon {
		#sunfw-wrapper {
		    position: absolute;
		    width: 100%;
		    height: 100%;
		    top: 0;
		    left: 0;
		    bottom: 0;
		    right: 0;
		    #sunfw_section_main-body{
				display: table;
			    width: 100%;
			    height: 100%;
			    text-align: center;
			    background: #fff !important;
			    > div {
				    display: table-cell;
				    vertical-align: middle;
				}
			}
		}
		.search #mod-search-searchword {
			@include rtl-margin-right(6px);
		}
	}
}
.jsn-counter-wrap {
	.info {
		text-align: center;
		position: relative;
		.number {
			color: #394A5C;
			font-family: Roboto;
			font-size: 68px;
			font-weight: normal;
			line-height: 80px;
			text-align: center;
			border: 2px solid #D1D6DE;
			border-radius: 25px;
			width: 120px;
			height: 120px;
			line-height: 120px;
			display: block;
			background: #fff;
			margin: 0 auto;
		}
		.title {
			color: #D1D6DE;
			font-family: Roboto;
			font-size: 25px;
			line-height: 29px;
			text-align: center;
			margin-top: 30px;
			display: block;
		}
		&:after{
			position: absolute;
			content: ":";
			top: 3%;
			right: -22.5px;
			color: red;
			font-size: 68px;
		}
		&.last{
			&:after{
				display: none;
			}
		}
	}
}
/* ---------- Content Types ----------- */
.sunfw-link,
.sunfw-quote,
.sunfw-gallery,
.sunfw-video,
.sunfw-standard {
	margin-bottom: 15px;
}
.sunfw-link {
    background: #eb7a57;
    padding: 30px 25px;
    text-align: left;
    border-left: 6px solid #eb7a57;
	h2 {
		margin: 0;
	}
	a {
		color: #fff;
		display: flex;
		align-content: center;
		align-items: center;
		i {
			font-size: 120px;
			line-height: inherit;
			background: transparent;
			width: 118px;
			height: 118px;
			@include rtl-margin-right(0);
			border-radius: 0;
			display: inline-block;
			float: none;
			position: relative;
			line-height: 125px;
			color: rgba(255,255,255,0.2);
			@include rtl-margin-right(-90px);
		}
		&:hover{
			color: #555;
		}
	}
}
.sunfw-quote {
	@include rtl-border-left(3px solid #E9E9E9);
	padding: 25px;
	background: #F5F5F5 url(../../jsn_blank2/images/icon/blockquote.png) no-repeat calc(100% - 20px) 55px;
	.author {
		color: #394A5C;
		font-family: Roboto;
		font-size: 18px;
		font-weight: bold;
		line-height: 21px;
		font-style: normal;
		margin: 20px 0 0;
	}
}
/* ---------- Content Types ----------- */
#sunfw-social-share {
	a {
		display: inline-block;
		margin-left: 2px;
		margin-right: 2px;
		i.fa {
			font-size: 22px;
		}
	}
}


/* ---------- Footer Layout ----------- */
.sunfw_footer{
	.container{
		padding-left: 30px;
		padding-right: 30px;
		.module-footer-menu{
			 h3.box-title{
				margin: 0 0 10px;
				color: #fff;
				text-transform: uppercase;
				font-weight: bold;
				line-height: 19px;
				font-size: 16px;
			}
			ul.nav{
				> li{
					padding: 0;
					line-height: 28px;
    				font-size: 14px;
					> a{
						padding:0;
						color: #FFCDBE;
						transition: .3s all;
						-webkit-transition: .3s all;
						-moz-transition: .3s all;
						-o-transition: .3s all;
						&:hover{
							color: #fff;
							font-weight: bold;
						}
						&:focus{
							background-color: transparent;
							outline: none;
						}
					}
				}
				> li.current{
					> a{
						color: #fff;
						font-weight: bold;
					}
				}
			}
		}
	}
}
.sunfw-bule-color{
	.sunfw_footer .container .module-footer-menu ul.nav > li > a{
		color: #cbe7ff;
	}
	.icon-socical-footer,
	.text-copyright-footer{
		color: #cbe7ff !important;
	}
}
.sunfw-mint-color{
	.sunfw_footer .container .module-footer-menu ul.nav > li > a{
		color: #d1f3ea;
	}
	.icon-socical-footer{
		color: #d1f3ea !important;
	}
	.text-copyright-footer{
		color: #5a9989 !important;
	}
}
.sunfw-purple-color{
	.sunfw_footer .container .module-footer-menu ul.nav > li > a{
		color: #d2cefb;
	}
	.icon-socical-footer{
		color: #d2cefb !important;
	}
	.text-copyright-footer{
		color: #827cb5 !important;
	}
}
.sunfw-gray-color{
	.sunfw_footer .container .module-footer-menu ul.nav > li > a{
		color: #f4f4f4;
	}
	.icon-socical-footer{
		color: #f4f4f4 !important;
	}
	.text-copyright-footer{
		color: #a0a0a0 !important;
	}
}
.sunfw_footer_copyright{
	background-color: rgba(0,0,0,0.5);
}
.source-name-module{
	.category-module {
	    padding: 0;
	}
	.category-module li a.mod-articles-category-title{
	   	font-size: 16px;
	    display: block;
	    padding: 0;
	    margin-bottom: 5px;
	}
	.category-module li > p{
	    margin-bottom: 5px;
	}
	.category-module li {
	    list-style: none;
    	margin-bottom: 15px;
    	&:last-child{
    		margin-bottom: 0;
    	}
	}
	.category-module li .desc{
		> a.more{
			font-size: 14px;
		    display: block;
		    padding: 0;
		    margin-top: 5px;
		}
	}
}
/* ---------- Line Header Title ----------- */
.glass-header-title{
	position: relative;
	display: inline-block;
	&:after{
		content: '';
	    position: absolute;
	    width: calc(100% - 30px);
	    height: 2px;
	    left: 15px;
	    bottom: 0;
	    background-color: red;
	}
}
/* ---------- Page About Us ----------- */
.page-about-us{
	h3.title-header{
		position: relative;
		display: inline-block;
		&:after{
			position: absolute;
			content: "";
			height: 2px;
			width: 80%;
			left:0;
			bottom:0;
			background-color: #fff;
		}
	}
}
.meer-our-team{ 
	.item{
		position: relative;
		.item-content{
			position: absolute;
			width: 100%;
			height: 100%;
			top:0;
			left:0;
			opacity: 0;
			background-color: rgba(243, 124, 62, 0.6);
			transition: .3s all;
			-webkit-transition: .3s all;
			-moz-transition: .3s all;
			-o-transition: .3s all;
		}
		&:hover{
			cursor: pointer;
			.item-content{
				opacity: 1;
			}
		}
	}
}
.sunfw_main_body{
	.container{
		background-color: #fff;
		padding-top: 30px;
		padding-bottom: 30px; 
	}
}
@media(min-width: 992px){
	.template-feature{
		[class*='module-style']{
			border-width:0 !important;
			.module-body{
				padding: 10px 20px !important;
			}
			.module-title{
				.box-title{
					// padding-left: 30px !important;
					// padding-right: 30px !important;
				}	
			}  
		}
	}
}
@media (min-width: 768px) and (max-width: 991px) {
	.template-feature{
		[class*='module-style']{
			border-width:0 0 1px !important;
		}
	}
}
@media(max-width: 991px){
	.get-it-touch .form-actions{
		margin-bottom: 30px !important;
	}
	.get-it-touch .module-title{
		margin-bottom: 25px;
	}
}
@media(min-width: 768px){
	.sunfw_main_body{
		.container {
		    padding: 30px;
		}
	}
	.sunfw_content_bottom_bellow{
		.container{
			padding-left: 30px;
			padding-right: 30px;
			padding-bottom: 30px;
		}
	}
	.sunfw_content_bottom,
	// .sunfw_promo,
	.sunfw_content_top,
	.sunfw_content_top_below{
		.container{
			padding-right: 30px;
			padding-left: 30px;
		}
	}
	// .sunfw_promo{
	// 	.container{
	// 		padding-top: 30px;
	// 		padding-bottom: 30px;
	// 	}
	// }
/* ---------- JSN Glass Intro Section ----------- */
	.sunfw-homepage,
	.sunfw-orange-color,
	.sunfw-red-color,
	.sunfw-bule-color,
	.sunfw-mint-color,
	.sunfw-purple-color,
	.sunfw-gray-color{
		.sunfw_content_top_below{
			.container{
				padding-left: 15px;
				padding-right: 15px;
			}
		}
		.sunfw_content_top{
			.container{
				padding:0;
			}
		}
		.sunfw_banner{
			padding-bottom: 0;
			margin-bottom: 0;
		}
		.sunfw_promo{
			.container{
				margin-bottom: 0;
			}
		}
	} 
	.sunfw_mp{
		.container {
		    padding: 0 30px 30px;
		}
	}
	.sunfw_promo{
		.container{
			background: transparent;
			margin-bottom: 30px;
		}
	}
	
}
.sunfw-orange-color,
.sunfw-red-color,
.sunfw-bule-color,
.sunfw-mint-color,
.sunfw-purple-color,
.sunfw-gray-color{
	.sunfw_banner{
		padding-bottom: 0;
		margin-bottom: 0;
	}
	.sunfw_content_top .container {
	    padding: 0;
	}
}
.contact.home-contact{
	.controls {
		input, textarea{
			border-radius: 0;
			width: 100% !important;
		}
	}
}
.title_type_1{
	position: relative;
	&:after{
		position: absolute;
		content: "";
		left: 0;
		bottom: 0;
		height: 2px;
		width: 40%;
		background-color: #f57c33;
	}
}
.zoom-hover-effect{
	position: relative;
	overflow: hidden;
	img{
		-webkit-transform: scale(1);
		transform: scale(1);
		-webkit-transition: .3s ease-in-out;
		transition: .3s ease-in-out;
	}
	&:hover{
		img{
			-webkit-transform: scale(1.3);
			transform: scale(1.3);
		}
	}
}
.box_skitter .next_button{
	background: url(../images/btn-next.png) no-repeat !important;
}
.box_skitter .next_button:hover{
	background: url('../images/btn-next-hover.png') no-repeat !important;
}
.box_skitter .prev_button{
	background: url(../images/btn-prev.png) no-repeat !important;
}
.box_skitter .prev_button:hover{
	background: url('../images/btn-prev-hover.png') no-repeat !important;
}
.icon-hover-type-1{
	transition: all .3s;
	-webkit-transition: all .3s;
	-moz-transition: all .3s;
	-o-transition: all .3s; 
	&:hover{
		background-color: #fff;
	}
}
.icon-hover-type-2{
	transition: all .3s;
	-webkit-transition: all .3s;
	-moz-transition: all .3s;
	-o-transition: all .3s; 
	&:hover{
		color: #fff !important;
	}
}

/* ---------- JSN Image Show Theme Carousel ----------- */
@-moz-document url-prefix() { 
  #finder-search button.btn + a[href="#advancedSearch"]{
  	margin-top: 0;
  }
}
/* ---------- error ----------- */
.jsn-error-inner .table .table-cell {
    display: table-cell;
    width: 100%;
    height: 100%;
    vertical-align: middle;
}
.edit #images .input-prepend.input-append {
    position: relative;
    display: inline-block;
}
.edit #images .input-prepend.input-append .modal.btn {
    position: absolute;
    display: inline-block;
    z-index: 1;
    border-width: 1px 0 1px 1px;
    border-color: #f37c3e;
    border-style: solid;
    background: #f37c3e;
    color: #fff;
    right: 28px;
    top: 0;
    left: auto;
    border-radius: 0;
}
.item-page.edit .input-append input[type="text"] + a + a.btn.hasTooltip {
    padding: 9.5px 10px;
    vertical-align: top;
    background: transparent;
    border-width: 1px 1px 1px 0;
    border-style: solid;
    border-color: #D1D6DE;
}
.edit #images .input-prepend.input-append .media-preview {
    display: none;
}
.icon-remove::before {
    content: "\f00d";
}
span[class*="icon-"] {
    display: inline-block;
    font: normal normal normal 14px/1 FontAwesome;
    font-size: 14px;
    font-size: inherit;
    text-rendering: auto;
}
.item-page.edit #attrib-sunfw-options{
	overflow: inherit;
}
.search{
	input.inputbox{
		width: 100%;
		margin-bottom: 20px;
	}
	button{
		width: 100%;
	}
}