/* ============================ */
$main-color: false !default;
@if($main-color != false) {
	.sunfw-content { 
		.main-color{
			color: $main-color;
		}
		.bg-main-color{
			background: $main-color;
		}
	}
	body {
		background: $main-color;
	}
	ul {
		&.newsfeed,
		&.archive-module,
		&.relateditems,
		&.categories-module,
		&.category-module,
		&.mostread,
		&.latestnews,
		&.latestusers {
			li {
				color: $main-color;
				a * {
					color: $main-color;
				}
			}
		}
		&.categories-module ul {
			li {
				color: $main-color;
			}
		}
	}
	.item-page.edit #com-content-formTabs > li {
		&.active {
			> a:hover,
			> a {
				border-color: $main-color;
				background: $main-color;
			}
		}
	}
	.content_vote {
		.btn.btn-mini[name="submit_vote"] {
			background: $main-color;
		}		
	}
	.label-info[href]:hover, .label-info[href]:focus,
	.content_rating + form input[name="submit_vote"] {
		background: $main-color;
	}
	ul.nav[class*='menu-treemenu'] li a:hover{
		color: $main-color;
	}
	.color-img img {
		background-color: $main-color;
	}
	.bg-main-color {
		.jsn-es-background {
			background-color: $main-color !important;
		}
	}
	.text-main-color {
		color: $main-color !important;
		> span {
			color: $main-color !important;
		}
	}
	ul	{
		&.nav[class*='menu-treemenu'] {
			li {
				&.active,
				&.current {
					> a {
					   color: $main-color;
					}
				}
			}
		}
	}
	.eb-event-columns .up-event-item .eb-event-title-container a:hover,
	ul.nav.menu li a:hover,
	.btn.btn-plain:hover {
		color: $main-color;
	}
	.bg-2nd-subcolor {
		background-color: darken(desaturate(adjust-hue($main-color, 8.5042%), 76.5101%), 20.7843%);
	}
	nav.navbar.sunfw-menu-head ul.navbar-nav {
		> li {
			&:hover,
			&.active {
				> a {
					color: $main-color;
				}
			}
		}
	}
	body#sunfw-master ul span.event-date span,
	.lightbox-2 .module-title .box-title {
		border-color: $main-color;
	}

	.row_promo {
		background-color: $main-color;
	}
	.demo-homepage-slider .box_skitter {
		.prev_button, .next_button {
			background: $main-color;
		}
	}
	.sunfw-com-eventbooking .listmenu ul.menu li a:hover,
	.eb-event-box .eb-event-title, .eb-event-container .eb-event-title {
		&:hover {
			color: $main-color;
		}
	}
	.btn.btn-default.btn-primary,
	.carousel-control > span:not(.sr-only),
	form[action*="view=location"]#adminForm label.control-label > input[type="button"],
	.form-horizontal #eventContent #price_list td input[type="button"][onclick*="addRow"],
	ul#eventTabs li.active a,
	ul#eventTabs li:hover a,
	#extcalendar > .topmenu_calendar:not(.row) .left_calendar .field-calendar + input[type="button"],
	#extcalendar .tablec td,
	.calendar_link:hover,
	.regpro-calendarMonthHeader,
	.eb-topmenu-calendar ul.nav li a:hover,
	.eb-topmenu-calendar ul.nav li a.active,
	#eb-calendar-page #eb-calendarwrap .eb-topmenu-calendar ul li a.active,
	#eb-calendar-page .fc-right .fc-state-default:hover,
	#eb-calendar-page .fc-left > .fc-state-default,
	td.mod_eb_mincalendar_today,
	#thermometer_form input[type="button"],
	.donate-details .jd-taskbar .btn,
	.donate-details-mod .jd-taskbar .btn,
	ul.pager li > a, ul.pager li > span,
	div.pagination ul.pagination li.active a,
	div.pagination ul.pagination li a:hover {
		background-color: $main-color;
	}
	.block-quote,
	#icagenda .icagenda_form .button,
	div.custom-1st-tab > nav > a {
		&:hover,
		&[data-active="true"] {
			background: $main-color;
		}
	}
	#donation-campaigns.jd-container .jd-box-heading h3 a:hover, #donation-campaigns #jd-docs .jd-box-heading h3 a:hover,
	.form-horizontal #eventContent .form-group .js-editor-tinymce .btn-toolbar.toggle-editor a.btn,
	.regpro-calendarDay .eb_event_link,
	.text-main-color > span {
		color: $main-color !important;
	}
	.hover-main-color a:hover,
	a.fc-event,
	.breadcrumb li + li:before {
		color: $main-color;
	}
	ul.sunfw-tpl-menu .caret:before {
		content: $main-color;
	}
	ul#eventTabs li.active a,
	ul#eventTabs li:hover a,
	.eb-topmenu-calendar ul.nav li a:hover,
	.eb-topmenu-calendar ul.nav li a.active,
	#eb-calendar-page #eb-calendarwrap .eb-topmenu-calendar ul li a.active {
		border-color: $main-color;
	}
	span.event-date span.month {
		background: $main-color;
	}
	.hover-main-color a:hover {
		color: $main-color;
	}
}
/* ============================ Sub Color ============================ */
$sub-color: false !default;
@if($sub-color != false){
.btn-default.active:hover,
	.donate-details .jd-taskbar .btn:hover,
	.btn.btn-default.btn-primary:hover,
	.carousel-control > span:not(.sr-only):hover,
	nav.navbar.sunfw-menu-head ul.navbar-nav > li > a.get-it.btn-default:hover,
	nav.navbar.sunfw-menu-head ul.navbar-nav > li > a.get-it.btn-default:focus {
		background-color: $sub-color;
	}
	.demo-homepage-slider .box_skitter {
		.prev_button:hover, .next_button:hover {
			background: $sub-color;
		}
	}
	.btn.btn-primary.btn-default.bg-main-color:hover,
	ul.nav[class*='menu-'] li a.get-it:not(.btn-outline):hover {
		background-color: $sub-color;
	}
	nav.navbar.sunfw-menu-head ul.navbar-nav {
		> li {
			> a.get-it	{
				&.btn-primary {
					&:hover,
					&:focus {
						background-color: $sub-color;
					}
				}
			}
		}
	}
	
}