/* ============================ */
$main-color: false !default;
@if ($main-color != false) {
  .link-action {
    &:hover {
      background: darken($main-color, 20%);
    }
  }
  .pagination {
    > .active {
      > a,
      > span {
        background-color: $main-color;
        border-color: $main-color;
        &:hover, &:focus {
          background-color: $main-color;
        }
      }
    }
  }
  .horizontal li p.icon a.avatar:hover,
  .module-style.solid-2 .module-body {
  	border-color: $main-color;
  }
  .colorful-icon:hover,
  .sunfw-scrollup:hover,
  .menu.menu-topmenu li a,
  #dragBar,
  div.k2TagCloudBlock a:hover,
  #dragBar, .link-action:hover {
    background: $main-color;
  }
  a,
  .colorful-icon,
  .colorful-text,
  .pagination > li > a,
  .pagination > li > span,
  .kfrontend .btn-link,
  .menu.menu-topmenu li a:hover {
    color: $main-color;
  }
  //#sunfw_section_footer .elastislide-wrapper nav span,
  .menu.menu-treemenu li > a:hover,
  .menu.menu-treemenu .nav-child li.active > a {
    color: $main-color;
  }
  ul.nav.menu li{
    &:hover{
      > a{
        color: $main-color;
      }
    }
    &.current{
      > a{
        color: $main-color;
      }
    }    
  } 
  .colorful-border {
    border-color: $main-color;
  }
  .cta-btn-download{
    color: $main-color !important;
  }
  .content-detail b a:hover {
    background: $main-color;
    color: #fff;
  }
  #sunfw_section_content-top .static .static_item:hover{
    background-color: $main-color;
  }
  div.pagination ul.pagination li.active a{
    background-color: $main-color;
  }
  div.pagination ul.pagination li a:hover{
    color:$main-color;
  }
  .jsn-error-page #content .content-inner .goto-home a{
    background-color: $main-color;
  }
  #kunena.layout .nav {
    open a,
    open a:hover,
    open a:focus,
    li a:hover,
    li a:focus,
    li.active a {
      background: $main-color;
    }
  }
  .bg-main-color{
    background-color: $main-color !important;
  }
  .readmore a{
    background-color: $main-color;
  }
  .home-feature{
    .item:hover{
      background-color: $main-color;
      border-color: $main-color !important;
    }
  }
  .item-page.edit fieldset #com-content-formTabs > li.active > a{
    border-bottom: 2px solid $main-color;
  }
  .richbox-1 .module-title{
    background-color: $main-color;
  }
  .label-info{
    &:hover{
      background-color: $main-color !important;
    }
  }
  ul.nav[class*='menu-sidemenu']{
    li{
      &:hover{
        > a{
          color: $main-color;
        }
      }
      &.active{
        > a{
          color: $main-color; 
        }
      }
    }
  }
}

/* ============================ Sub Color ============================ */
$sub-color: false !default;
@if ($sub-color != false) {
  #sunfw_section_promo .box_skitter .label_skitter .jsn-themeslider-caption-description,
  .sw-aboutventure-bg .pb-background {
    background: $sub-color;
  }
  .sunfw-menu-head.navbar-default {
    .navbar-nav > .active > a:focus {
      background: $sub-color;
    }
  }
  .bg-main-color:hover{
    background-color: $sub-color !important;
  }
  .bordertop {
    border-color: $sub-color;
  }
  .sunfw-menu-head.navbar-default {
    .dropdown-menu > .active > a:focus,
    li.current > a,
    ul li:hover > a,
    ul.sunfw-tpl-menu > li.megamenu ul.sunfw-megamenu-sub-menu .sunfw-item > ul li:hover > a,
    ul.sunfw-tpl-menu > li.megamenu ul.sunfw-megamenu-sub-menu .sunfw-item .module-style > div > ul li:hover > a {
      color: $sub-color !important;
    }
  }
  .module-menu .module-body{
    ul.nav{
     > li{
      a{
        &:hover{
          color: $sub-color;
        }
      }
      &.current{
        a{
          color: $sub-color;
        }
      }
     } 
    }
  }
  .bg-2nd-subcolor{
    background-color: $sub-color;
  }
  .readmore a:hover{
    background-color: $sub-color;
  }
  .jsn-error-page #content .content-inner .goto-home a{ 
    background-color: $sub-color;
  }
  .btn:active{
    background-color: $sub-color;
  }
   nav.navbar.sunfw-menu-head{
    ul.navbar-nav{
      > li{
        > a{
          &.get-it{
            &:hover{
              background-color: $sub-color !important;
            }
          }
        }
      }
    }
   }
}
